<div class="px-5 py-5 mx-auto mt-10 bg-white rounded-lg joband-shadow flex-warp theme-bg theme-text w-fit">
  <header class="block font-bold text-center">
    <h2 class="h2 joband-text-bk"><%= t("user.resend_confirm_email")%></h2>
  </header>
  <div class="card-body">
    <div class="block mx-auto w-fit">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="my-3 field">
          <%= f.label :email, class: "font-bold joband-text-bk mb-1" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "email@example.com", class: "input input-bordered mb-3 mt-1", required: true %>
        </div>

        <div class="my-5 form-control">
          <%= f.submit t("user.resend_button"), class: "joband-action-btn" %>
        </div>
      <% end %>
    </div>
    <div class="form-control">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
