<ul class="flex items-start justify-start -ml-3 list-none space-x-14">
  <li>
    <div data-controller="like" data-liked="<%= current_user&.liked?(channel) %>" data-id="<%= channel.id %>">
      <button data-like-target="likeBtn" data-action="click->like#toggle", class="btn btn-ghost theme-text">♡
      </button>
      <span data-like-target="count" class="mx-2 theme-text">
        <%= channel.like_logs.count %>
      </span>
    </div>
  </li>
  <li>            
    <span class="btn btn-ghost" data-action="click->comments#toggleContent" data-link-id="<%= channel.id %>">
      <a href="#" class="flex items-center theme-text">
        <%= File.read('app/assets/images/icon/comment.svg').html_safe %>
        <% if channel.comments.any? %>
          <div class="ml-1 comment-count">
            <%= channel.comments.count %>
          </div>
        <% end %>
      </a>
    </span>
  </li>
  <li>
      <%= button_to channel_path(channel), method: "delete", data: { turbo_confirm: "確定刪除嗎？" }, class: "btn btn-ghost" do %>
        <div class="flex items-center justify-center ">
          <%= File.read('app/assets/images/icon/del.svg').html_safe %>
        </div>
      <% end %>
  </li>
</ul>
