<article class="mx-auto w-full lg:w-[50%] lg:mx-auto bg-white lg:rounded-[80px] joband-shadow mt-16">
  <div>
    <div>

      <div class="my-5 center">
        <%= link_to profile_path(@resume_list.user.profile),class:'my-5' do %>

          <div class="relative w-[100px] h-[100px] mx-auto">
            <%= render 'shared/avatar', model: @resume_list.user.profile %>
          </div>
          
          <div class="flex-wrap center">
            <p class="w-full my-3 text-center h2 joband-text-bk">
              <%= User.find(@resume_list.user_id).name %>
            </p>
            <p class="w-full text-center joband-text-bk">
              <%= t("apply.position")%>
              <strong>
                <%= @resume_list.role %>
              </strong>
            </p>
          </div>

        <% end %>      
      </div>
      
      <div class="text-center">
        <%= link_to t("back.recruit"), recruit_path(@resume_list.recruit),class:'joband-hover-gray' %>
      </div>
      
      <div class="my-10">
        <p class="flex-wrap mx-auto center joband-text-bk">
          <%= t("apply.letter")%>
        </p>
        <strong class="center joband-text-bk">
          <%= @resume_list.description %>
        </strong>
      </div>
      

      <div class='center'>
        <% if policy(@resume_list).approve? %>
          <%= link_to t("join.member"),
                      approve_resume_list_path(@resume_list),
                      data: {
                        turbo_method: :post, 
                        turbo_confirm: t("check.join")
                      },
                      class: 'joband-ok-btn mr-2' %>

          <%= link_to t('apply.fail'),
                      reject_resume_list_path(@resume_list),
                      data: {
                        turbo_method: :patch,
                        turbo_confirm: t("apply.fail")
                      },
                      class: 'joband-del-btn' %>
        <% end %>
      </div>


      <% if policy(@resume_list).update? %>
        <div class="mb-5 center">
          <%= link_to t('show.edit'), edit_resume_list_path(@resume_list), class: 'joband-ok-btn mr-5' %>
          <%= link_to t("joband.delete"), resume_list_path(@resume_list), class: "joband-del-btn",
                              data: {
                                turbo_method: 'delete',
                                turbo_confirm: t("show.delete")
                              } %>
        </div>                      
      <% end %>
      
    </div>
    
    <div class="m-5 my-10 center">
      <div class="w-full lg:w-2/3 joband-text-bk">
        <%= form_with(model: [@resume_list, @comment]) do |f| %>
          <div class="mb-3 center">
            <%= f.label :content, t("joband.comment") %>
          </div>
          <div class="center">
            <%= f.text_area :content, class:'joband-ring-offset rounded-xl input-md input-bordered w-2/3 max-w-xs'%>
          </div>
          
          <div class="my-10 center">
            <%= f.submit t("show.send_comment"), class: 'joband-action-btn'%>
          </div>
          
        <% end %>

        <ul class="w-full mb-10">
          <%= render "comments/comment_resume", comments: @comments, resume_list: @resume_list %>
        </ul>
      </div>
    </div>

  </div>
</article>
