<div class="w-[500px] joband-text-bk lg:flex lg:justify-center text-base lg:text-lg">
  <%= form_with( model: profile, data: { turbo: false } ) do |f| %>
    <div class="flex items-center my-5">
      <%= f.label :avatar, "上傳大頭照", class: "lg:w-[120px] block" %>
      <%= f.file_field :avatar, accept: "image/png, image/jpeg", direct_upload: true, class: "file-input file-input-sm file-input-warning w-full max-w-xs" %>
    </div>
    <div class="flex items-center my-5">
      <%= f.label :phone, "電話", class: "lg:w-[120px] block" %>
      <%= f.phone_field :phone, placeholder: '請輸入電話號碼',maxlength: 10, pattern: "[0-9]{8,10}", title: "輸入至少8碼電話號碼", class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
    </div>
    <div class="flex items-center my-5">
      <%= f.label :location, "居住城市", class: "lg:w-[120px] block"  %>
      <%= f.text_field :location, placeholder: '請輸入居住城市', class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
    </div>
    <div class="flex items-center my-5">
      <%= f.label :seniority, "樂齡", class: "lg:w-[120px] block"  %>
      <%= f.select :seniority, Profile.seniorities.keys %>
    </div>
    <div class="flex items-center my-5 ">
      <%= f.label :content, "簡介", class: "lg:w-[120px] block"  %>
      <%= f.text_area :content, placeholder: '跟大家介紹一下自己', style: "resize: none;", class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
    </div>
    <div class="flex items-center my-5 ">
      <p class="lg:w-[120px]">彈奏樂器 </p>
      <div class="space-x-2">
        <%= f.collection_check_boxes :instrument_ids, Instrument.all, :id, :name %>
      </div>
    </div>
    <div class="flex items-center my-5 ">
      <%= f.label :music, "上傳音樂",class: "lg:w-[120px] block" %>
      <%= f.file_field :music, accept: "audio/mpeg", direct_upload: true, class: "file-input file-input-sm file-input-warning w-full max-w-xs" %>
    </div>
    <div class="flex items-center my-5 ">
      <%= f.label :video, "上傳影片",class: "lg:w-[120px] block" %>
      <%= f.file_field :video, accept: "video/mp4", direct_upload: true, class: "file-input file-input-sm file-input-warning w-full max-w-xs" %>
    </div>
    <div class="flex items-center justify-center w-full mt-10">
      <% if action_name == "new" %>
        <%= f.submit "建立個人檔案", class: "joband-action-btn" %>
      <% else %>
        <%= f.submit "更新個人檔案", class: "joband-action-btn", id: "profile-edit" %>
      <% end %>
    </div>
  <% end %>
</div>