<div class="mx-auto lg:flex lg:flex-wrap lg:justify-evenly items-center w-[300px] h-auto lg:w-[1000px] lg:h-[300px] bg-[#D9D9D9] rounded-[60px] joband-shadow mb-14 p-5 lg:p-0 ">
  <div class="mx-auto w-[150px] h-[150px] lg:w-[200px] lg:h-[200px] relative">
    <%= render "shared/avatar", model: profile  %>
  </div>

  <div class=" w-full lg:w-[450px] flex flex-wrap p-5">
    <p class="w-full font-semibold text-center lg:text-left joband-text-bk h2 joband-shadow"><%= profile.user.name %></p>
    <p class="w-full h-[70px] h4 mt-5 joband-text-bk hidden lg:block"><%= profile.content.truncate(70) %></p>
    <p class="w-full h-[70px] h4 mt-5 joband-text-bk text-center block lg:hidden"><%= profile.content.truncate(50) %></p>
    <div class="flex w-full mt-4 justify-evenly lg:justify-start">
      <% if profile.location.present? %>
        <p class=" z-[1] mr-5 joband-tag-location"><%= profile.location %></p>
      <% end %>
      <% if profile.seniority.present? %>
        <p class="z-[1] joband-tag-seniority"><%= profile.seniority %></p>
      <% end %>
    </div>
  </div>

  <div class="mx-auto w-[100px] h-[100px] lg:w-[150px] lg:h-[150px] flex justify-center items-center">
    <%= render "/shared/instrument", instrument: profile.default_instrument(profile) %>
  </div>
  <%= link_to '', profile_path(profile), class: "block w-full h-full absolute top-0 left-0" %>
</div>