<div class="flex flex-wrap justify-evenly items-center w-[1000px] h-[300px] bg-[#D9D9D9] rounded-[80px] drop-shadow-2xl my-10 ">
  <div class="w-[200px] h-[200px] relative">
    <%= render "shared/avatar", model: profile  %>
  </div>

  <div class="w-[450px]">
    <p class="font-semibold text-[#2A323A] h2 drop-shadow-md"><%= profile.name %></p>
    <p class="block h-[70px] text-gray-700"><%= profile.content %></p>
    <div class="flex mt-4">
      <% if profile.location.present? %>
        <p class=" z-[1] mr-5 shadow-md joband-tag-location"><%= profile.location %></p>
      <% end %>
      <% if profile.seniority.present? %>
        <p class="z-[1] shadow-md joband-tag-seniority"><%= profile.seniority %> 年</p>
      <% end %>
    </div>
  </div>

  <div class="w-[200px] h-[200px] flex justify-center items-center">
  
      <% if profile.default_instrument(profile) == "Vocal" %>
        <div class="flex flex-wrap justify-center w-[150px] relative">
          <a href="#" class="flex items-center justify-center z-[1]">
            <img src="/icon_img/vocal.svg" alt="vocal_icon" class="absolute w-1/2 p-1 drop-shadow">
            <div class="block w-[120px] h-[120px] bg-white rounded-full shadow-inner"></div>
          </a>
          <p class="block mt-2 font-semibold text-[#2A323A]">VOCAL</p>
        </div>
      <% end %>
      
      <% if profile.default_instrument(profile) == "Guitar" %>
        <div class="flex flex-wrap justify-center w-[150px] relative">
          <a href="#" class="flex items-center justify-center z-[1]">
            <img src="/icon_img/guitar.svg" alt="guitar_icon" class="absolute w-1/2 p-1 drop-shadow">
            <div class="block w-[120px] h-[120px] bg-white rounded-full shadow-inner"></div>
          </a>
          <p class="block mt-2 font-semibold text-[#2A323A]">GUITAR</p>
        </div>
      <% end %>

      <% if profile.default_instrument(profile) == "Drum" %>
        <div class="flex flex-wrap justify-center w-[150px] relative">
          <a href="#" class="flex items-center justify-center z-[1]">
            <img src="/icon_img/drum.svg" alt="drum_icon" class="absolute w-1/2 p-1 drop-shadow">
            <div class="block w-[120px] h-[120px] bg-white rounded-full shadow-inner"></div>
          </a>
          <p class="block mt-2 font-semibold text-[#2A323A]">DRUM</p>
        </div>
      <% end %>

      <% if profile.default_instrument(profile) == "Bass" %>
        <div class="flex flex-wrap justify-center w-[150px] relative">
          <a href="#" class="flex items-center justify-center z-[1]">
            <img src="/icon_img/bass.svg" alt="bass_icon" class="absolute w-1/2 p-1 drop-shadow">
            <div class="block w-[120px] h-[120px] bg-white rounded-full shadow-inner"></div>
          </a>
          <p class="block mt-2 font-semibold text-[#2A323A]">BASS</p>
        </div>
      <% end %>

      <% if profile.default_instrument(profile) == "Keyboard" %>
        <div class="flex flex-wrap justify-center w-[150px] relative">
          <a href="#" class="flex items-center justify-center z-[1]">
            <img src="/icon_img/keyboard.svg" alt="keyboard_icon" class="absolute w-1/2 p-1 drop-shadow">
            <div class="block w-[120px] h-[120px] bg-white rounded-full shadow-inner"></div>
          </a>
          <p class="block mt-2 font-semibold text-[#2A323A]">KEYBOARD</p>
        </div>
      <% end %>

      <% if profile.default_instrument(profile) == "listener" %>
        <div class="flex flex-wrap justify-center w-[150px] relative">
          <a href="#" class="flex items-center justify-center z-[1]">
            <img src="/icon_img/listener.svg" alt="listener_icon" class="absolute w-1/2 p-1 drop-shadow">
            <div class="block w-[120px] h-[120px] bg-white rounded-full shadow-inner"></div>
          </a>
          <p class="block mt-2 font-semibold text-[#2A323A]">LISTENER</p>
        </div>
      <% end %>
  </div>
  <%= link_to "", profile_path(profile), class: "block w-full h-full absolute" %>
</div>