<div class="w-full flex flex-col " >

    <div class="font-bold flex flex-col items-center tracking-wide  p-5 ">
        <h1 class=" text-xl text-red-500 " >展示你的音樂作品集</h1>

        <button class=" bg-slate-500 hover:bg-slate-600 rounded p-2 text-base  text-white my-4" ><%= link_to "新增 個人檔案", new_profile_path %></button>
    </div>

    <div class=" w-full flex flex-wrap justify-center" >
            <% @profiles.each do |profile| %>
                <div class="bg-white p-6 w-5/12 mx-4 rounded-lg max-w-md my-4">
                    <p class="bg-slate-700 text-white rounded p-1 mb-2"><%= profile.location %></p>
                    <h2 class="text-xl font-semibold mb-2 text-black"><%= link_to profile.name, profile_path(profile) %></h2>
                    <p class="text-gray-700 mb-2"><%= link_to profile.content, profile_path(profile) %></p>
                    
                    
                        <div class="flex ">
                            <button class="text-slate-500 rounded p-1 bg-yellow-300 hover:bg-yellow-400 mr-2"><%= profile.seniority %> 年</button>
                            <% profile.instruments.each do |instrument| %>
                                <% if instrument.vocal %>
                                <button class="bg-blue-300 hover:bg-blue-400 rounded p-1 text-black mr-2" >主唱</button>
                                <% end %>
                                
                                <% if instrument.guitar %>
                                <button class="bg-blue-300 hover:bg-blue-400 rounded p-1 text-black mr-2" >吉他</button>
                                <% end %>
                                
                                <% if instrument.bass %>
                                <button class="bg-blue-300 hover:bg-blue-400 rounded p-1 text-black mr-2" >貝斯</button>
                                <% end %>
                                
                                <% if instrument.keyboard %>
                                <button class="bg-blue-300 hover:bg-blue-400 rounded p-1 text-black mr-2" >鍵盤</button>
                                <% end %>
                                
                                <% if instrument.drum %>
                                <button class="bg-blue-300 hover:bg-blue-400 rounded p-1 text-black mr-2" >鼓手</button>
                                <% end %>
                            <% end %>
                        </div>
                    
                </div>
            <% end %>
    </div>

</div>