<div class="flex flex-wrap justify-center p-10 lg:m-10">
  <h1 class="lg:text-4xl h2 theme-text" >尋找您想認識的音樂家</h1>
  <div class="w-full">
    <%= search_form_for @search_profile do |user| %>
      <div class="flex items-center justify-center my-10">
        <div>
          <%= user.search_field :user_name_or_instruments_name_cont, class:'p-3 mx-3 rounded-xl joband-ring-offset'%>
        </div>
        <button class="flex justify-center mx-2 w-14 h-14">
          <%= render "shared/search_btn" %>
        </button>
      </div>
    <% end %>
  </div>
  <div class="center lg:h-[90px] ">
    <% Instrument.all.each do |instrument| %>
      <div id="instrnment_search" class="lg:w-[50px] lg:h-[50px] lg:m-5 lg:hover:w-[100px] lg:hover:h-[100px] duration-300 
                                          w-[50px] h-[50px] m-2 ">
        <%= render "shared/instrument_search", instrument: instrument.name %>
      </div>
    <% end %>
  </div>
</div>
<div class="flex flex-wrap justify-center w-full">
  <div class="my-10">
    <%= render @profiles %>
  </div>
</div>