<% title "找樂手" %>
<% description "在JoBand建立您的音樂個人檔案，與其他音樂人互動，分享您的音樂才華。" %>
<% keywords "樂手, 樂團, 音樂, 鼓手, 吉他手, 貝斯手" %>
<% canonical "https://joband.co/profiles" %>
<div class="flex flex-wrap justify-center p-10 lg:m-10">
  <h1 class="lg:text-4xl h2 theme-text" ><%= t('joband.find_players')%></h1>
  <div class="w-full">
    <%= search_form_for @search_profile do |user| %>
      <div class="flex items-center justify-center my-10">
        <div>
          <%= user.search_field :user_name_or_instruments_name_cont, class:'p-3 mx-3 rounded-xl joband-ring-offset'%>
        </div>
        <button class="flex justify-center mx-2 w-14 h-14">
          <%= render "shared/search_btn" %>
        </button>
      </div>
    <% end %>
  </div>
  <div class="flex h-[90px] items-center mt-10">
    <% Instrument.all.each do |instrument| %>
      <div id="instrnment_search" class="lg:w-[50px] lg:h-[50px] lg:m-5 lg:hover:w-[90px] lg:hover:h-[90px] duration-300 
                                          w-[50px] h-[50px] m-2 ">
        <%= render "shared/instrument_search", instrument: instrument.name %>
      </div>
    <% end %>
  </div>
</div>
<div class="flex flex-wrap justify-center w-full">
  <div>
    <%= render @profiles %>
  </div>
</div>