

<div class="hero min-h-screen rounded-[20] my-5" style="background-image: url(https://static.wixstatic.com/media/89d386_6964ba0e56274bd7b11debf8dc9ff5db~mv2.jpg/v1/fill/w_1440,h_812,al_c,q_85,enc_auto/89d386_6964ba0e56274bd7b11debf8dc9ff5db~mv2.jpg);">
  <div class="hero-content absolute top-20 lg:absolute top-20">
    <ul class="steps">
      <li class="step step-primary"><%= t("step.one") %></li>
      <li class="step step-primary"><%= t("step.two") %></li>
      <li class="step step-primary"><%= t("step.three") %></li>
      <li class="step"><%= t("step.four") %></li>
    </ul>
  </div>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h2 class="mb-5 text-5xl font-bold text-white drop-shadow-lg">帳號驗證成功！</h2>
      <h2 class="text-3xl font-bold py-6 text-white drop-shadow-lg">Hello <%= current_user.name %></h2>
      <p class="mb-5 text-white drop-shadow-lg">馬上著手設定個人資料吧！<br/>
        啟用更豐富的功能！🥁 Let's Jam🎷</p>
      <%= link_to "創建我的個人資料", new_profile_path, class: "btn btn-warning btn-block drop-shadow-lg"%>
      <%= link_to "skip", root_path, class: "mt-3 link block"%>
    </div>
  </div>
</div>