<div class="flex justify-center w-11/12 h-auto p-6 mx-auto rounded-lg shadow-md bg-slate-100">  
  <div class="flex flex-col items-center w-full p-2 ">

    <figure class="flex flex-col items-center my-3 h-[200px] w-[200px] relative ">
      <%= render "shared/avatar", model: @profile  %>
    </figure>
    
    <%= link_to '創建樂團', new_band_path, class:'btn btn-sm' %>
    <h1 class="my-3 mb-2 text-2xl font-bold text-black"><%= @user.name %></h1>
    <p class="my-3 text-gray-700">電話號碼：<%= @profile.phone %></p>
    <p class="my-3 text-gray-700">居住城市：<%= @profile.location %></p>
    <p class="my-3 text-gray-700">樂齡：<%= @profile.seniority %></p>
    <p class="text-gray-700">內容：<%= @profile.content %></p>
    <p>所屬樂團</p>
    <div class="center">
      <%= render 'band' %>
    </div>
      
    <div class="flex flex-col items-center my-3 ">
      <% if @profile.music.attached? %>
        <audio controls controlsList="nodownload">
          <source src="<%= url_for(@profile.music) %>" type="audio/mpeg">
          您的瀏覽器不支援音樂格式
        </audio>
      <% else %>
        <p>沒有上傳任何音樂檔案</p>
      <% end %>
    </div>

    <div class="flex flex-col items-center my-3 ">
      <% if @profile.video.attached? %>
        <video width="640" height="360" controls controlsList="nodownload">
          <source src="<%= url_for(@profile.video) %>" type="video/mp4">
          您的瀏覽器不支援影片格式
        </video>
      <% else %>
        <p>沒有上傳任何影片檔案</p>
      <% end %>
    </div>
    <%= link_to '資料更新', edit_profile_path, class:'btn btn-sm' %>

  </div>  
</div>

