<div class="flex flex-wrap justify-center w-[80%] h-auto mx-auto mt-20 p-10 rounded-[100px] joband-shadow bg-white">  
  <div class="my-10 h-[200px] w-[200px] relative ">
    <%= render "shared/avatar", model: @profile  %>
  </div>
  <h1 class="w-full mb-5 text-2xl font-bold text-center joband-shadow joband-text-bk"><%= @profile.user.name %></h1>
  <div class="flex flex-wrap justify-center w-full px-28 joband-text-bk">
    <div class="flex justify-around w-auto mb-12">
      <% @profile.instruments.each do |instrument| %>
        <div class="w-[100px] h-[100px] flex relative mx-3 my-3">
          <%= render "/shared/instrument", instrument: instrument.name %>
        </div>
      <% end %>
    </div>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">電話號碼：<%= @profile.phone %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">居住城市：<%= @profile.location %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">樂齡：<%= @profile.seniority %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">簡介：<%= @profile.content %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">所屬樂團：</p>
    <div class="flex flex-wrap w-full ">
      <%= render 'band' %>
    </div>
    <span class="w-full joband-line-bk"></span>
    <div class="flex flex-col w-full">
      <div class="my-3">
        <% if @profile.music.attached? %>
          <audio controls controlsList="nodownload" class="w-full custom-audio-player">
            <source src="<%= url_for(@profile.music) %>" type="audio/mpeg">
            您的瀏覽器不支援音樂格式
          </audio>
        <% else %>
          <p class="w-full text-gray-400 h4">沒有上傳任何音樂檔案</p>
        <% end %>
      </div>
      <div class="my-3">
        <% if @profile.video.attached? %>
          <video width="640" height="360" controls controlsList="nodownload" class="w-full">
            <source src="<%= url_for(@profile.video) %>" type="video/mp4">
            您的瀏覽器不支援影片格式
          </video>
        <% else %>
          <p class="w-full text-gray-400 h4">沒有上傳任何影片檔案</p>
        <% end %>
      </div>
    </div>
    <div class="mt-5">
      <% if policy(@profile).profile? %>
        <%= link_to '創建樂團', new_band_path, class:'joband-action-btn mx-2'%>
      <% end %>
      <% if policy(@profile).update? %>
        <%= link_to '修改個人檔案', edit_profile_path, class:'joband-action-btn mx-2'%>
      <% end %>
    </div>
  </div>  
</div>

