<div class="bg-slate-100 shadow-md p-6 rounded-lg w-11/12 h-auto mx-auto flex justify-center">  

    <div class=" w-full flex flex-col items-center  p-2">
        <div class=" flex flex-col items-center my-3">
            <img class="w-2/5 rounded-full" src="https://picsum.photos/400/400?random=1" alt=""> 
        </div>
        <h1 class="text-2xl mb-2 text-black font-bold my-3"><%= @profile.name %></h1>
        <p class="text-gray-700 my-3">電話號碼：<%= @profile.phone %></p>
        <p class="text-gray-700 my-3">居住城市：<%= @profile.location %></p>
        <p class="text-gray-700 my-3">樂齡：<%= @profile.seniority %></p>

        <p class="text-gray-700">內容：<%= @profile.content %></p>
  

    </div>  
    
</div>
<h1><%= @profile.name %></h1>
<p><%= @profile.content %></p>

<% if @profile.avatar.attached? %>
  <%= image_tag @profile.avatar, class: " rounded-full w-20" %>
<% else %>
  <p>No avatar uploaded.</p>
<% end %>
