<% title "樂手檔案" %>
<%= display_meta_tags(default_meta_tags) %>
<div class="flex-wrap center w-full h-auto mx-auto overflow-hidden joband-shadow bg-white
            lg:w-[75%] lg:mt-20 lg:rounded-[80px]">
  <div class=" h-[200px] w-[200px] relative my-10">
    <%= render "shared/avatar", model: @profile  %>
  </div>

  <div class="w-full font-bold text-center h1 joband-shadow joband-text-bk lg:m-5">
    <%= @profile.user.name %>
  </div>

  <div class="flex flex-wrap justify-center">
    <% if @profile.instruments.present? %>
      <% @profile.instruments.each do |instrument| %>
        <div class="w-[60px] h-[60px] flex relative mx-1 my-3 lg:mx-5 lg:w-[100px] lg:h-[100px]">
          <%= render "/shared/instrument", instrument: instrument.name %>
        </div>
      <% end %>
    <% else %>
      <div class="w-[60px] h-[60px] flex relative mx-1 my-3 lg:mx-5 lg:w-[100px] lg:h-[100px]">
        <%= render "/shared/instrument", instrument: nil %>
      </div>
    <% end %>
  </div>
    
  <div class="flex flex-wrap w-full p-16 px-8 lg:px-32 joband-text-bk">
  
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3"><%= t('show.phone')%> <%= @profile.phone %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3"><%= t('show.city')%> <%= @profile.location %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3"><%= t('show.music_years')%> <%= @profile.seniority %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3"><%= t('show.intro')%> <%= @profile.content %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3"><%= t('show.belongs_band')%> </p>
    <div class="flex flex-wrap w-full">
      <%= render 'band' %>
    </div>
    <span class="w-full joband-line-bk"></span>
    <div class="flex flex-col w-full">
      <div class="my-3">
        <% if @profile.music.attached? %>
          <audio controls controlsList="nodownload" class="w-full">
            <source src="<%= url_for(@profile.music) %>" type="audio/mpeg">
            <%= t('show.no_support_music')%>
          </audio>
        <% else %>
          <p class="w-full text-gray-400 h4"><%= t('show.no_music')%></p>
        <% end %>
      </div>
      <div class="my-3">
        <% if @profile.video.attached? %>
          <video width="640" height="360" controls controlsList="nodownload" class="w-full">
            <source src="<%= url_for(@profile.video) %>" type="video/mp4">
            <%= t('show.no_support_video')%>
          </video>
        <% else %>
          <p class="w-full text-gray-400 h4"><%= t('show.no_video')%></p>
        <% end %>
      </div>
    </div>
    <div class="w-full center">
      <div class="flex justify-center">
        <% if policy(@profile).profile? %>
          <%= link_to t("show.create_band"), new_band_path, class:'joband-action-btn mx-2'%>
        <% end %>

        <% if policy(@profile).update? %>
          <%= link_to t("show.edit_profile"), edit_profile_path, class:'joband-action-btn mx-2'%>
        <% end %>
      </div>
    </div>
    
  </div>  
</div>

