<div class="hero min-h-screen bg-base-200">
  <div class="hero-content absolute top-20 lg:absolute top-20">
    <ul class="steps">
      <li class="step step-warning"><%= t("step.one") %></li>
      <li class="step step-warning"><%= t("step.two") %></li>
      <li class="step"><%= t("step.three") %></li>
      <li class="step"><%= t("step.four") %></li>
    </ul>
  </div>
  <div class="hero-content flex-col lg:flex-row-reverse">
    <%= image_tag("zooey.png", alt: "ava", class: "mx-auto lg:ml-5 max-w-xs lg:max-w-sm rounded-full shadow-2xl") %>
    <div>
      <h2 class="text-5xl font-bold">帳號註冊成功！</h2>
      <h2 class="text-5xl font-bold py-6">歡迎加入 JoBand ! 🎉<h2/>
        <p>確認信件已送至您的 Email 信箱，請點擊信件內連結完成驗證！</p>
      </h2>
    </div>
  </div>
</div>