<% comments.each do |comment| %>
  <li class='w-[60%] p-5 my-2 border-b rounded-3xl bg-slate-100 sm:w-[95%]'>
    <div class='flex joband-text-bk h4'>
      <div class="w-[50px] h-[50px] relative mr-2">
        <% if comment.user&.profile.present? %>
          <%= render "shared/avatar", model: comment.user.profile %>
        <% else %>
          <img src="/default_avatar.png" alt="default_avatar" class="absolute w-full rounded-full joband-shadow" >
          <img src="/avatar_flame.svg" alt="avatar_flame" class="relative w-full h-full">
        <% end %>
      </div>
      
      <% if comment.user&.profile.present? %>
        <%= link_to comment.user.name, profile_path(comment.user.profile.id),class: "flex items-center font-bold", target: "_top"%>
      <% else %>
      <p class="flex items-center">
        <%= comment.user.name %>
      </p>
        
      <% end %>
    </div>
    <div class='p-3 my-1 text-left break-words'>
      <p><%= comment.content %></p>
    </div>
    <div class='flex flex-row-reverse mt-2 mb-2 text-base'>
      <% if comment.user == current_user %> 
        <%= link_to comment_path(comment, activity_id: @activity.id),
                          data: {turbo_method: 'delete',
                          turbo_confirm: t("show.delete")
                                } do %>
            <div class="relative flex justify-center items-center w-[30px] h-[30px] align-middle mx-2">
              <img src="/icon_img/bin_icon.svg" alt="bin_icon" class="absolute w-1/2">
              <div class="top-0 left-0 w-full h-full bg-[#D2545B] rounded-full"></div>
            </div>
        <% end %>
      <% end %>
      <p>[<%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>]</p>
    </div>
  </li>
<% end %>
