<div class="bg-dark rounded-md px-20 py-5 my-10 mx-auto flex justify-center w-2/4">
  <div class="mx-auto">
    <header class="flex text-white">
      <h2 class="h2"><%= t("user.login") %></h2>
    </header>

    <div class="flex mx-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field my-3">
        <%= f.label :email, class: "text-white" %><br />
        <%= f.email_field :email, placeholder: "email@example.com", autofocus: true, autocomplete: "email", class: "input-md" %>
      </div>

      <div class="field my-3">
        <%= f.label :password, t("user.password"), class: "text-white" %><br />
        <%= f.password_field :password, placeholder: t("user.password"),autocomplete: "current-password", class: "input-md" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field my-3">
          <label class="cursor-pointer label">
            <%= f.check_box :remember_me, checked: "checked", class: "checkbox checkbox-success mr-1" %>
            <span class="mr-auto"><%= t("user.remember_me") %></span>
          </label>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit t("user.login"), class: "btn btn-block" %>
      </div>
    <% end %>
    </div>
    <div class="my-5 text-white">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
