<% title "登入" %>
<%= display_meta_tags(default_meta_tags) %>
<div class="px-5 py-3 mx-auto mt-10 bg-white rounded-lg joband-shadow flex-warp theme-bg theme-text w-fit">
    <div class="card-body">
      <div class="flex mx-auto">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="my-3 field">
            <%= f.label :email, class: "font-bold joband-text-bk" %><br />
            <%= f.email_field :email, placeholder: "email@example.com", autofocus: true, autocomplete: "email", class: "input input-bordered mb-3 mt-1" %>
          </div>

          <div class="my-3 field">
            <%= f.label :password, t("user.password"), class: "font-bold joband-text-bk" %><br />
            <%= f.password_field :password, placeholder: t("user.password"),autocomplete: "current-password", class: "input input-bordered mb-3 mt-1" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="my-3 field">
              <label class="cursor-pointer label">
                <%= f.check_box :remember_me, checked: "checked", class: "checkbox-md check-boxes mr-1" %>
                <span class="mr-auto joband-text-bk"><%= t("user.remember_me") %></span>
              </label>
            </div>
          <% end %>

          <div class="my-5 form-control">
            <%= f.submit t("user.login"), class: "joband-action-btn" %>
          </div>
        <% end %>
      </div>
      <div class="form-control">
        <%= render "users/shared/links" %>
      </div>
    </div>
</div>
