<%# 三方登入按鈕 %>
<%- if controller_name != 'sessions' %>
  <span><%= t("user.already") %></span><%= link_to t("user.login"), new_session_path(resource_name), class: "blink" %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <span><%= t("user.not_yet") %></span><%= link_to t("user.sign_up"), new_registration_path(resource_name), class: "blink" %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to t("user.forgot_password"), new_password_path(resource_name), class: "link" %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t("user.not_receive_confirm"), new_confirmation_path(resource_name), class: "link" %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <% case provider.to_sym %>
      <% when :facebook %>
        <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "mb-2 inline-block rounded px-6 py-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg", style: "background-color: #1877f2" do %>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-2" fill="currentColor" viewBox="0 0 24 24">
              <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
            </svg>
            Sign in with Facebook
          </div>
        <% end %><br />
      <% when :google_oauth2 %>
        <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "mb-2 inline-block rounded px-6 py-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg", style: "background-color: #ea4335" do %>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-2" fill="currentColor" viewBox="0 0 24 24">
              <path d="M7 11v2.4h3.97c-.16 1.029-1.2 3.02-3.97 3.02-2.39 0-4.34-1.979-4.34-4.42 0-2.44 1.95-4.42 4.34-4.42 1.36 0 2.27.58 2.79 1.08l1.9-1.83c-1.22-1.14-2.8-1.83-4.69-1.83-3.87 0-7 3.13-7 7s3.13 7 7 7c4.04 0 6.721-2.84 6.721-6.84 0-.46-.051-.81-.111-1.16h-6.61zm0 0 17 2h-3v3h-2v-3h-3v-2h3v-3h2v3h3v2z" fill-rule="evenodd" clip-rule="evenodd" />
            </svg>
            Sign in with Google
          </div>
        <% end %><br />
      <% else %>
        <!-- Handle other providers if needed -->
      <% end %>
  <% end %>
<% end %>

