<nav class="flex self-start justify-between text-white navbar bg-base-100 joband-shadow">
  <div class="self-start flex-1 gap-5">
    <%= link_to root_path, class: "logo-icon" do %>
      <img src="/Joband_icon.svg" alt="Joband_icon" class="w-10">
    <% end %>
    <%= link_to '找樂手', profiles_path, class: "btn btn-ghost normal-case text-xl" %>
    <%= link_to '找樂團', bands_path, class: "btn btn-ghost normal-case text-xl" %>
    <a href="#" class="text-xl normal-case btn btn-ghost">找活動</a>
  </div>
  <div class="flex">
    <ul class="flex gap-5">
      <% if user_signed_in? %>
        <li class="flex align-middle">
          <div class="dropdown dropdown-hover dropdown-end">
            <ul class="flex items-center mx-5 cursor-pointer">
              <% if current_user.profile.present?%>
                <li class="relative items-center w-10 joband-shadow">
                  <%= render "shared/avatar", model: current_user.profile %>
                </li>
              <% else %>
                <li class="relative items-center w-10 joband-shadow">
                  <img src="/default_avatar.png" alt="default_avatar" class="absolute w-full rounded-full" >
                  <img src="/avatar_flame.svg" alt="avatar_flame" class="relative w-full h-full drop-shadow-2xl">
                </li>
              <% end %>  
            </ul>
            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
              <% if current_user.profile.present?%>
                <li><%= link_to "個人檔案", profile_path(current_user.profile), class: "nav-link" %></li>
              <% else %>
                <li><%= link_to "個人檔案", letsjam_profile_path(current_user), class: "nav-link" %></li>
              <% end %>
              <div data-controller="showband">
                <li><%= link_to "我的樂團", "#", class: "nav-link", data: { action:"click -> showband#show" } %></li>
                <div class="pl-2">
                  <%= render "shared/myband", user: current_user %>
                </div>
              </div>
              <li><%= link_to "設定", edit_user_registration_path, class: "nav-link" %></li>
              <li><%= link_to "登出", destroy_user_session_path,
                              data: { turbo_method: 'delete' }, class: "nav-link" %></li>
            </ul>
          </div>
        </li>
        
      <% else %>
        <li><%= link_to "登入", new_user_session_path, class: "btn btn-ghost normal-case text-xl" %></li>
        <li><%= link_to "註冊", new_user_registration_path, class: "btn btn-ghost normal-case text-xl" %></li>
      <% end %>
    </ul>
  </div>
</nav>
