<nav class="flex self-start justify-between text-white navbar bg-neutral joband-shadow">
  <div class="self-start flex-1 gap-8">
    <%= link_to root_path, class: "logo-icon" do %>
      <img src="/Joband_icon.svg" alt="Joband_icon" class="w-10">
    <% end %>
    <%= link_to '找樂手', profiles_path, class: "text-xl btn btn-ghost" %>
    <%= link_to '找樂團', bands_path, class: "text-xl btn btn-ghost" %>
    <a href="#" class="text-xl btn btn-ghost">找活動</a>
  </div>
  <div class="flex">
    <ul class="flex gap-5">
    <div class="flex w-8" data-action="click->switch#switch_mode"> 
      <img src="/icon_img/dark.svg" alt="mode" class="button" data-switch-target="mode_switch">
    </div>
    <% if user_signed_in? %>
      <li class="flex align-middle">
        <div class="flex items-center mx-5 cursor-pointer dropdown dropdown-hover dropdown-bottom dropdown-end">
        <% if current_user.profile.present?%>
          <div class="relative items-center w-10 joband-shadow">
            <%= render "shared/avatar", model: current_user.profile %>
          </div>
          <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
            <li>
              <%= link_to "個人檔案", profile_path(current_user.profile), class: "nav-link" %>
            </li>
            <% if current_user&.bands.present? %>
            <div data-controller="showband">
              <li>
                <%= link_to "#", data: { action:"click -> showband#show" } do %>
                  <div class="nav-link">我的樂團</div>
                <% end %>
              </li>
              <div class="pl-2">
                <%= render "shared/myband", user: current_user %>
              </div>
            </div>
            <% else %>
            <li>
              <%= link_to "創建樂團", new_band_path, class: "nav-link" %>
            </li>
            <% end %>
        <% else %>
          <div class="relative items-center w-10 joband-shadow">
            <img src="/default_avatar.png" alt="default_avatar" class="absolute w-full rounded-full" >
            <img src="/avatar_flame.svg" alt="avatar_flame" class="relative w-full h-full drop-shadow-2xl">
          </div>
          <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
            <li>
              <%= link_to "個人檔案", current_user.confirmed? ? letsjam_profiles_path : welcome_profiles_path, class: "nav-link" %>
            </li>
        <% end %>
            <li>
              <%= link_to "設定", edit_user_registration_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "登出", destroy_user_session_path, data: { turbo_method: 'delete' }, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </li>        
    <% else %>
      <li><%= link_to "登入", new_user_session_path, class: "btn btn-ghost normal-case text-xl" %></li>
      <li><%= link_to "註冊", new_user_registration_path, class: "btn btn-ghost normal-case text-xl" %></li>
    <% end %>
    </ul>
  </div>
</nav>
