<div class="center">
  <div class="center items-center w-3/4 bg-[#D9D9D9] rounded-[80px] drop-shadow-2xl py-5 mt-20
              lg:w-1/4">
    <%= form_with(model: [@band, @band_member]) do |f| %>

      <div class="m-5 h1 joband-text-bk">
        <%= @band_member.user.name %>
      </div>

      <div class="m-5">
        <%= f.label :identity, '權限', class:"joband-text-bk h2" %>
        <%= f.select :identity, BandMember.identities.keys %>
      </div>

      <div class="m-5">
        <%= f.label :role , '職位', class:"joband-text-bk h2" %>
        <%= f.select :role, BandMember.default_roles %>
      </div> 

      <div class="center mb-5">
        <%=f.submit '更新', class:'btn btn-accent' %>
      </div>

    <% end %>
  </div>
</div>
