<div class="flex-wrap pt-16 center">
  <img src="/imges/2beer.svg" alt="2beer" class="w-[200px] lg:w-[300px] mx-16">
  <div class="items-center w-3/4 p-5 lg:w-1/3 lg:rounded-lg joband-shadow theme-bg center">
    <div class="w-full">
      <h2 class="mb-6 text-xl text-center theme-text">替樂團買一輪啤酒吧！</h2>

      <%= form_with(model: [@band, @order], data:{ turbo: false }) do |form| %>
        
        <div class="mb-4">
          <%= form.label :amount, "贊助金額：", class: "theme-text"%>
          <%= form.number_field :amount, class: "theme-text block w-full mt-1 p-2 border rounded-lg", required: true %>
        </div>

        <div class="mb-4">
          <%= form.label :note, "對樂團說的話：", class: "theme-text" %>
          <%= form.text_area :note, class: "theme-text block w-full mt-1 p-2 border rounded-lg", style: "resize: none;" %>
        </div>

        <div class="mt-10 text-center">
          <%= form.submit '贊助', class: "joband-action-btn"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
