<header class="flex items-center justify-center w-full">
  <div class="relative w-full h-[675px] overflow-hidden">
    <div class="absolute w-full h-full bg-gray-500/[0.3]"></div>
    <video width="640" height="360" autoplay playsinline muted loop class="object-cover w-full h-full">
      <source src="/Joband_video.mp4" type="video/mp4">
    </video>
  </div>
  <div class="absolute flex flex-wrap justify-center w-[300px] lg:w-[550px] joband-shadow">
    <img src="/Joband_logo.svg" alt="Joband_LOGO" class="items-center w-[250px] lg:w-full my-10">
    <h1 class="w-full my-2 text-xl text-center text-white lg:text-4xl"><%= t('joband.slogan')%> </h1>
    <% if user_signed_in? %>
    <% else %>
      <%= link_to '現在就加入', new_user_registration_path, class: "joband-action-btn my-12" %>
    <% end %>
  </div>
</header>

<section class="container flex flex-wrap justify-center mt-32 joband-shadow">
  <div class="flex flex-wrap justify-center w-full">
    <p class="w-full lg:w-[1000px] text-center h1 lg:text-7xl theme-text"><%= t('joband.music')%></p>
    <p class="w-full lg:w-[1000px] text-center theme-text h4 lg:text-3xl py-10"><%= t('joband.music_desc')%></p>
    <%= render "profiles/profile", profile: User.find_by(email: "zooey@gg.gg").profile %>
  </div>
  <div class="flex flex-wrap justify-center w-full mt-32">
    <p class="w-full lg:w-[1000px] text-center h1 lg:text-7xl theme-text"><%= t('joband.band')%></p>
    <p class="w-full lg:w-[1000px] text-center theme-text h4 lg:text-3xl py-10"><%= t('joband.band_desc')%><br/><%= t('joband.music_desc_more')%></p>
    <%= render "bands/band", band: User.find_by(email: "zooey@gg.gg").bands.first %>
  </div>
</section>

