<div class="flex justify-center items-center min-h-screen">
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold text-center mb-6 text-black">贊助樂團： <%= @band.name %></h1>

    <%= form_with(model: [@band, @donation], data:{ turbo: false }) do |form| %>
      <div class="mb-4">
        <%= form.label :amount, "贊助金額：", class: "text-black"%>
        <%= form.text_field :amount, class: "text-white block w-full mt-1 p-2 border rounded-lg" %>
      </div>

      <div class="mb-4">
        <%= form.label :note, "想對樂團說的話：", class: "text-black" %>
        <%= form.text_area :note, class: "text-white block w-full mt-1 p-2 border rounded-lg" %>
      </div>

      <div class="text-center">
        <%= form.submit '贊助', class: "btn btn-accent"  %>
      </div>
    <% end %>
  </div>
</div>
