<div class="mx-auto lg:flex lg:flex-wrap lg:justify-evenly items-center w-[300px] h-auto lg:w-[1000px] lg:h-[300px] bg-[#bdcbd2] rounded-[60px] joband-shadow my-14 p-5 lg:p-0">
  <div class="mx-auto w-[150px] h-[150px] lg:w-[200px] lg:h-[200px] relative">
    <%= render "shared/avatar", model: band  %>
  </div>

  <div class="w-full lg:w-[450px] flex flex-wrap p-5">
    <p class="w-full font-semibold text-center lg:text-left joband-text-bk h2 joband-shadow"><%= band.name %></p>
    <div class="mx-auto mt-4 lg:hidden">
      <%= render "bands/recruit", band: band %>
    </div>
    <p class="w-full h-[50px] h4 mt-5 joband-text-bk hidden lg:block"><%= band.content.body.to_plain_text.truncate(70) %></p>
    <p class="w-full h-[50px] h4 mt-5 joband-text-bk text-center block lg:hidden"><%= band.content.body.to_plain_text.truncate(50) %></p>
    <div class="flex flex-wrap w-full mt-4 justify-evenly lg:justify-start">
      <a href="#" class=" z-[1] mx-auto lg:mx-0 lg:mr-5 joband-tag-location">
        <%= band.area %>
      </a>
      <a href="#" class="z-[1] mx-auto lg:mx-0 lg:mr-5 joband-tag-style">
        <%= band.state %>
      </a>
      <div class="hidden lg:flex">
        <%= render "bands/recruit", band: band %>
      </div>
    </div>
  </div>

  <div class="w-[100px] h-[100px] mx-auto lg:w-[150px] lg:h-[150px] flex justify-center items-center">
    <% if band.styles.present? %>
      <div class="w-h-full lg:w-[150px] lg:h-[150px] flex relative">
        <%= render "bands/style", style: band.styles.first %>
      </div>
    <% else %>
      <div class="relative flex flex-wrap justify-center w-h-full">
        <%= render "bands/freestyle" %>
      </div>
    <% end %>
  </div>
  <%= link_to '', band_path(band), class: "block w-full h-full absolute top-0 left-0" %>
</div>
