<%= link_to band_path(band),class:'lg:flex lg:mb-14' do %>

  <div class="lg:flex items-center w-[300px] h-auto lg:w-[1000px] lg:h-[300px] bg-[#D9D9D9] rounded-[80px] joband-shadow p-5 my-10 lg:my-5 relative ">

    <div class="mx-auto w-[150px] h-[150px] lg:w-[200px] lg:h-[200px] relative">
      <%= render "shared/avatar", model: band  %>
    </div>

    <div class="w-full lg:w-[450px] flex flex-wrap p-5">
      
      <p class="w-full font-semibold text-center lg:text-left joband-text-bk h2 joband-shadow">
        <%= band.name %>
      </p>
      <p class="w-full h-[70px] h4 mt-5 joband-text-bk hidden lg:block">
        <%= band.content.body.to_plain_text.truncate(45) %>
      </p>
      <p class="w-full h-[70px] h4 mt-5 joband-text-bk text-center block lg:hidden">
        <%= band.content.body.to_plain_text.truncate(25) %>
      </p>

      <div class="flex w-full justify-evenly lg:justify-start">
        <p class="joband-tag-location lg:mr-5">
          <%= band.area %>
        </p>
        <p class="joband-tag-state">
          <%= band.state %>
        </p>
      </div>

    </div>

    <div class="mx-auto w-[100px] h-[100px] lg:w-[150px] lg:h-[150px] flex justify-center items-center">
      <%= render "bands/style", style: band.styles.first %>
    </div>

  </div>
<% end %>