<div class="flex flex-wrap justify-evenly items-center w-[1000px] h-[300px] bg-[#bdcbd2] rounded-[80px] drop-shadow-2xl my-10 ">
  <div class="w-[200px] h-[200px] relative">
    <%= render "shared/avatar", model: band  %>
  </div>

  <div class="w-[450px] flex flex-wrap p-5">
    <p class="w-full font-semibold joband-text-bk h2 drop-shadow-md"><%= band.name %></p>
    <p class=" w-full block h-[70px] joband-text-bk"><%= band.content.body.to_plain_text.truncate(70) %></p>
    <div class="flex w-full mt-4">
      <% if band.area.present? %>
        <a href="#" class=" z-[1] mr-5 shadow-md joband-tag-location"><%= band.area %></a>
      <% end %>
      <% if band.state.present? %>
        <a href="#" class="z-[1] mr-5 shadow-md joband-tag-style"><%= band.state %></a>
      <% end %>
      <% if band.recruit.present? %>
        <% if user_signed_in? %>
          <% if current_user.confirmed? && current_user.profile.present?%>
            <%= link_to '招募中', recruit_path(band.recruit), class: "z-[1] shadow-md joband-tag-seniority" %>
          <% else %>
            <%= link_to '招募中', letsjam_profiles_path, class: "z-[1] shadow-md joband-tag-seniority", alert: "請先完成個人資料！" %>
          <% end %>
        <% else %>
          <%= link_to "招募中", new_user_session_path, class: "z-[1] shadow-md joband-tag-seniority", alert: "請先登入！" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="w-[150px] h-[150px] flex justify-center items-center">
    <% if band.styles.present? %>
      <div class="w-[150px] h-[150px] flex relative">
        <%= render "style", style: band.styles.first %>
      </div>
    <% else %>
      <div class="relative flex flex-wrap justify-center w-h-full">
        <%= render "freestyle" %>
      </div>
    <% end %>
  </div>
  <%= link_to '', band_path(band), class: "block w-full h-full absolute" %>
</div>
