<ul class="text-black">
    <%= link_to band_path(band), action: 'go' do %>
      <li class="my-5">
        <div class="card lg:card-side bg-gray-800 shadow-xl">
          <div class="m-5 h-[200px] w-[200px] relative">
              <%= render "shared/avatar", model: band %>
          </div>
          <div class="card-body">
            <%= link_to band.name, band_path(band), class:'card-title' %>
            <%= render 'style', band: band %>
            <div>
              <%= band.area %>
            </div>
            <div>
              <%= band.state %>
            </div>
          <div class="card-actions justify-end">
          <button class="btn btn-primary">報名</button>
        </div> 
      </li>
    <% end %>
</ul>