<%= form_with(model: band , data:{ turbo: false } ) do |f| %>

  <div class="m-5">
    <%= f.label :name, "樂團名稱：", class: "mr-8 text-xl text-black" %>
    <%= f.text_field :name , class: "text-white input input-bordered mb-3"%>
  </div>
  
  <% if action_name.in?(['new', 'create']) %>
  <div class="m-5">
    <%= f.label :role, '您的角色：', class: "mr-8 text-xl text-black" %>
    <%= f.select :role, BandMember.default_roles, class: "select select-bordered select-lg w-full max-w-xs" %>
  </div>
  <% end %>
  
  <div class="m-5">
    <%= f.label :banner, '樂團佈景：', class: "mr-8 text-xl text-black" %>
    <%= f.file_field :banner, accept: "image/png, image/jpeg", class: "file-input file-input-bordered file-input-info w-full max-w-xs" %>
  </div>

  <div class="m-5">
    <%= f.label :avatar, '樂團頭像：', class: "mr-8 text-xl text-black" %>
    <%= f.file_field :avatar, accept: "image/png, image/jpeg", class: "file-input file-input-bordered file-input-info w-full max-w-xs" %>
  </div>
  
  <div class="flex m-5">
    <%= f.label :style_ids, "演奏風格：", class: "mr-8 text-xl text-black" %>
    <div id="check-boxes">
      <%= f.collection_check_boxes :style_ids, Style.all, :id, :name %>
    </div>
  </div>

  <div class="m-5">
    <%= f.label :music, '上傳音樂：', class: "mr-8 text-xl text-black" %>
    <%= f.file_field :music, accept: "audio/mpeg", class: "file-input file-input-bordered file-input-info w-full max-w-xs" %>
  </div>

  <div class="m-5">
    <%= f.label :video, '上傳影片：', class: "mr-8 text-xl text-black" %>
    <%= f.file_field :video, accept: "video/mp4", class: "file-input file-input-bordered file-input-info w-full max-w-xs" %>
  </div>

  <div class="m-5">
    <%= f.label :area, "活動地區：", class: "mr-8 text-xl text-black" %>
    <%= f.select :area , Band.areas.keys , class: "select select-bordered select-lg w-full max-w-xs" %>
  </div>

  <div class="m-5">
    <%= f.label :content, "對樂團的描述：", class: "mr-8 text-xl text-black" %>
    <%= f.rich_text_area :content, class:"text-black bg-white" %>
  </div>

  <div class="m-5">
    <%= f.label :state, "樂團狀態：",class: "mr-8 text-xl text-black" %>
    <%= f.select :state , Band.states.keys, class: "select select-bordered select-lg w-full max-w-xs" %>
  </div>

  <div class="m-5">
    <%= f.label :founded_at, "成立時間：", class: "mr-8 text-xl text-black" %>
    <%= f.date_field :founded_at, class:"text-white" %>
  </div>

  <div class="text-center">
    <%=f.submit class:"btn btn-accent w-40" %>
  </div>

<% end %>
