<%= form_with(model: band , data:{ turbo: false } ) do |f| %>

  <div class="m-5">
    <%= f.label :name, class:"mr-8" %>
    <%= f.text_field :name , class:"text-black"%>
  </div>
  
  <% if action_name.in?(['new', 'create']) %>
   <div class="m-5">
    <%= f.label :role, '您演奏的樂器' %>
    <%= f.select :role, BandMember.default_roles %>
   </div>
  <% end %>
  
  <div class="m-5">
    <%= f.label :banner, '上傳樂團佈景' %>
    <%= f.file_field :banner, accept: "image/png, image/jpeg" %>
  </div>

  <div class="m-5">
    <%= f.label :avatar, '上傳樂團頭像' %>
    <%= f.file_field :avatar, accept: "image/png, image/jpeg" %>
  </div>
  
  <div class="m-5 flex flex-wrap">
    <%= f.label :style_ids %>
    <div id="check-boxes">
      <%= f.collection_check_boxes :style_ids, style_all, :id, :name %>
    </div>
  </div>

  <div class="m-5">
    <%= f.label :music, '上傳音樂' %>
    <%= f.file_field :music, accept: "audio/mpeg" %>
  </div>

  <div class="m-5">
    <%= f.label :video, '上傳影片' %>
    <%= f.file_field :video, accept: "video/mp4" %>
  </div>

  <div class="m-5">
    <%= f.label :area, class:"mr-8"%>
    <%= f.select :area , Band.areas.keys , class:"text-black" %>
  </div>

  <div class="m-5">
    <%= f.label :content , class:"mr-8"%>
    <%= f.rich_text_area :content, class:"text-black bg-white" %>
  </div>

  <div class="m-5">
    <%= f.label :state, class:"mr-8" %>
    <%= f.select :state , Band.states.keys , class:"text-black"%>
  </div>

  <div  class="m-5">
    <%= f.label :founded_at %>
    <%= f.date_field :founded_at, class:"text-black" %>
  </div>

  <div class="text-center">
    <%=f.submit class:"btn btn-accent w-40" %>
  </div>

<% end %>
