<%= form_with(model: @band , data:{ turbo: false } ) do |f| %>

  <div class="m-5">
    <%= f.label :name, class:"mr-8" %>
    <%= f.text_field :name , class:"text-black"%>
  </div>
  
  <div>
    <%= f.label :banner, '上傳樂團佈景' %>
    <%= f.file_field :banner %>
  </div>

  <div>
    <%= f.label :avatar, '上傳樂團頭像' %>
    <%= f.file_field :avatar %>
  </div>
  
  <div class="m-5 flex flex-wrap">
    <%= f.label :style_ids %>
    <div id="check-boxes">
      <%= f.collection_check_boxes :style_ids, style_collection, :id, :name %>
    </div>
  </div>

  <div class="m-5">
    <%= f.label :area, class:"mr-8"%>
    <%= f.select :area , Band.areas.keys , class:"text-black" %>
  </div>

  <div class="m-5">
    <%= f.label :content , class:"mr-8"%>
    <%= f.rich_text_area :content, class:"text-black bg-white" %>
  </div>

  <div class="m-5">
    <%= f.label :state, class:"mr-8" %>
    <%= f.select :state , Band.states.keys , class:"text-black"%>
  </div>

  <div  class="m-5">
    <%= f.label :founded_at %>
    <%= f.date_field :founded_at, class:"text-black" %>
  </div>

  <div class="text-center">
    <%=f.submit class:"btn btn-accent w-40" %>
  </div>

<% end %>
