
<div class="flex flex-col w-full" >

  <div class="flex flex-col items-center p-5 tracking-wide ">
    <h1 class="text-white h2" >探索你的樂團吧</h1>

    <%= search_form_for @search_band do |f| %>
      <div class="flex justify-center m-5">
        <%= f.search_field :name_or_styles_name_cont, class:'mr-3'%>
        <%= f.submit class:'btn btn-sm' %>
      </div>
        <% Style.all.each do |style| %>
          <%= check_box_tag('q[styles_name_cont_any][]', style.name) %>
          <%= style.name %>
        <% end %>
    <% end %>
  </div>
  <div class="flex flex-wrap justify-center w-full">
    <div class="my-10">
      <%= render @bands %>
    </div>
  </div>
</div>