<div class="flex flex-wrap justify-center p-10">
  <h1 class="lg:text-4xl h2 theme-text" >找到最適合您的樂團</h1>
  <div class="flex flex-wrap justify-center w-full">
    <%= search_form_for @search_band do |f| %>
      <div class="flex justify-center my-10">
        <%= f.search_field :name_or_styles_name_cont, class:'p-3 mx-3 rounded-xl joband-ring-offset' %>
        <%= f.submit class:'joband-search-btn' %>
      </div>
      <div class="flex h-[90px] items-center pt-16">
        <% Style.all.each do |style| %>
          <div class="lg:w-[50px] lg:h-[50px] w-[20px] h-[20px] m-5 hover:w-[100px] hover:h-[100px] h4 hover:text-3xl duration-300">
            <%= render "shared/style_search", style: style.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="flex flex-wrap justify-center w-full">
  <div class="my-10">
    <%= render @bands %>
  </div>
</div>