<div class="flex-wrap center w-full h-auto mx-auto overflow-hidden joband-shadow bg-white
            lg:w-[75%] lg:mt-20 lg:rounded-[80px]">
  <div class="relative w-full h-[200px] overflow-hidden lg:h-[500px]">
    <%= render "shared/banner", model: @band  %>
  </div>
  <div class="my-10 w-[150px] h-[150px] lg:h-[200px] lg:w-[200px] relative">
    <%= render "shared/avatar", model: @band  %>
    <p class="absolute joband-tag-state z-[1] right-[-5px] bottom-0 drop-shadow-xl">
      <%= @band.state %>
    </p>
  </div>

  <section class="flex flex-wrap justify-center w-full mb-5">
    
    <div class="w-full my-5 lg:my-10 center">
      <h1 class="flex items-center mx-2 font-semibold text-center h1 joband-shadow joband-text-bk">
        <%= @band.name %>
      </h1>
      <%= link_to new_band_order_path(@band), class: "center joband-beer-btn" do %>
        <div class="w-6 h-6 center">
          <%= image_tag "icon/beer.svg", alt: t("order.beer")%>
        </div>
      <% end %>
    </div>
    
  </section>
  
  <div class="flex flex-wrap w-full px-1 mb-10 center">
    <% @band.styles.each do |style| %>
      <div class="w-[80px] h-[80px] flex relative mx-2 my-2 lg:w-[100px] lg:h-[100px] ">
        <%= render "style", style: style %>
      </div>
    <% end %>
  </div>

    <% if @band.recruit.present? %>
      <%= link_to t('show.recruit'), recruit_path(@band.recruit), class: "joband-info-btn mx-1"%>
    <% else %>
      <% if policy(@band).band_leader? %>
        <%= link_to t('show.create_recruit'), new_band_recruit_path(@band), class: "joband-info-btn mx-1" %>
      <% end %>
    <% end %>
    <% if @band.activities.present? %>
      <%= link_to '查看活動', band_activities_path(@band), class:'joband-info-btn mx-1' %>
    <% end %>  
    
  <div class="flex flex-wrap w-full p-16 px-8 lg:px-32 joband-text-bk">
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3"><%= t('show.found_at') %> <%= @band.founded_at %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3"><%= t('show.area') %> <%= @band.area %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3"><%= t('show.intro') %> </p>
      <div class="my-5">
        <%= @band.content %>
      </div>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3"><%= t('show.members') %> </p>
    <div class="flex flex-wrap w-full my-5">
      <%= render @band_members %>
    </div>
    <span class="w-full joband-line-bk"></span>
    <div class="flex flex-col w-full my-3">
      <div class="w-full my-3">
        <% if @band.music.attached? %>
          <audio controls controlsList="nodownload" class="w-full custom-audio-player">
            <source src="<%= url_for(@band.music) %>" type="audio/mpeg">
            <%= t('show.no_support_music')%>
          </audio>
        <% else %>
          <p class="w-full text-gray-400 h4"><%= t('show.no_music')%></p>
        <% end %>
      </div>
      <div class="w-full my-3">
        <% if @band.video.attached? %>
          <video width="640" height="360" controls controlsList="nodownload" class="w-full">
            <source src="<%= url_for(@band.video) %>" type="video/mp4">
            <%= t('show.no_support_video')%>
          </video>
        <% else %>
          <p class="w-full text-gray-400 h4"><%= t('show.no_video')%></p>
        <% end %>
      </div>
    </div>
    <div class="w-full center">
      <div class="flex justify-center">
        <% if policy(@band).update? %>
          <div class="flex w-full align-middle">
            <% if policy(@band).band_leader? %>
              <%= link_to t('show.create_event'), new_band_activity_path(@band), class:'joband-action-btn mx-2' %>
            <% end %>
            <%= link_to t('show.edit_band'), edit_band_path(@band), class:"joband-action-btn mx-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
