<h1><%= @band.name %></h1>

<% if @band.avatar.attached? %>
  <%= image_tag @band.avatar, class: "rounded-full w-32" %>
<% else %>
  <img src="/default_avatar.png" alt="default_avatar" class="w-32 rounded-full" >
<% end %>

<p>Status: <%= @band.state %></p>
 
<article>
  
  <div>
    <%= render 'style', band: @band %>
  </div>

  <div>
    <%= @band.founded_at %>
  </div>

  <div>
    <%= @band.area %>
  </div>

  <div>
    <%= @band.content %>
  </div>

  <div>
    <%= link_to '編輯', edit_band_path(@band) %>
  </div>
  
</article>


