<%= render "shared/banner", model: @band  %>

<h1 class="text-2xl"><%= @band.name %></h1>

<%= render "shared/avatar", model: @band  %>

<p>Status: <%= @band.state %></p>
 
<article>
  
  <div>
    <%= render 'style', band: @band %>
  </div>

  <div>
    <%= @band.founded_at %>
  </div>

  <div>
    <%= @band.area %>
  </div>

  <div>
    <%= @band.content %>
  </div>

  <div>
    <%= link_to '編輯', edit_band_path(@band) %>
  </div>
  
</article>


