<article id="band_show">

  <section class="mb-10">
    <div>
      <%= render "shared/banner", model: @band %>
    </div>
  </section>
  
  <section class="flex justify-center mb-5">
    <div class="flex items-center justify-around w-4/5">
      <div class="h-[200px] w-[200px] relative">
        <%= render "shared/avatar", model: @band %>
      </div>
      <h1 class="text-2xl"><%= @band.name %></h1>
      <p class="p-2 text-white border-2 border-double rounded-lg border-sky-500 bg-sky-700"><%= @band.state %></p>

      <h2 class="h2">樂團招募</h2>
      <div>
        <% if @band.recruit.present?%>
          <%= link_to "團員招募中", recruit_path(@band.recruit), class: "btn btn-accent hover:text-white text-xl mb-5" %>
        <% else %>
          <%= link_to "招募團員", new_band_recruit_path(@band), class: "btn font-bold text-[#2A323A] hover:text-white text-xl mb-5" %>
        <% end %>
      </div>  
      
    </div>
  </section>
  
  <article class="flex flex-col items-center justify-center w-full bg-gray-200">
    
    <section class="flex justify-around w-9/12 mt-6 ">
      <div class="flex flex-col items-center justify-center">
        <p class="w-[120px] mb-2 text-lg font-bold" >曲風</p> 
        <%= render 'style', band: @band %>
      </div>

      <div class="flex flex-col items-center justify-center">
        <p class="mb-2 text-lg font-bold">創立時間</p>
        <%= @band.founded_at %>
      </div>

      <div class="flex flex-col items-center justify-center">
        <p class="mb-2 text-lg font-bold">地區</p>
        <%= @band.area %>
      </div>
      <div class="flex flex-col items-center justify-center">
        <p class="text-lg font-bold">成員</p><br>
        <%= render @band_members %>
      </div>
    </section>
    
    <section class="w-7/12 p-6">
        <p class= "text-justify">
          <%= @band.content %>
        </p>
    </section>

    <section class="flex flex-col items-center w-9/12 ">
      <div>
        <% if @band.music.attached? %>
          <audio controls controlsList="nodownload" class="mb-5">
            <source src="<%= url_for(@band.music) %>" type="audio/mpeg">
            您的瀏覽器不支援音樂格式
          </audio>
        <% end %>
      </div>

      <div>
        <% if @band.video.attached? %>
          <video width="640" height="360" controls controlsList="nodownload" class="mb-5">
            <source src="<%= url_for(@band.video) %>" type="video/mp4">
            您的瀏覽器不支援影片格式
          </video>
        <% end %>
      </div>
    </section>
    
  </article>

  <div class="flex justify-center my-5">
      <%= link_to '編輯', edit_band_path(@band), class:"btn btn-outline w-60" %>
  </div>

</article>
