<div class="flex flex-wrap justify-center w-[80%] h-auto mx-auto rounded-[100px] mt-20 overflow-hidden joband-shadow bg-white">  
  <section class="relative w-full h-[500px] overflow-hidden mb-10">
    <%= render "shared/banner", model: @band  %>
  </section>
  <div class="my-5 h-[200px] w-[200px] relative">
    <%= render "shared/avatar", model: @band  %>
  </div>
  <section class="flex flex-wrap justify-center w-full mb-5">
    <a href="#" class="z-[1] shadow-md joband-tag-style mb-2"><%= @band.state %></a>
    <h1 class="w-full my-5 font-bold text-center h1 joband-shadow joband-text-bk"><%= @band.name %></h1>
    <% if current_user&.id === @band.band_members.find_by(identity: :leader).user_id %>
      <% if @band.recruit.present? %>
        <%= link_to '查看招募', recruit_path(@band.recruit), class: "joband-action-btn"%>
      <% else %>
        <%= link_to "建立招募", new_band_recruit_path(@band), class: "joband-action-btn" %>
      <% end %>
    <% end %>  
    <%= link_to '創建活動', new_activity_path, class:'joband-action-btn mx-5' %>
  </section>
  <div class="flex flex-wrap justify-around mb-5">
    <% if @band.styles.present? %>
      <% @band.styles.each do |style| %>
        <div class="w-[100px] h-[100px] flex relative mx-3 my-3">
          <%= render "style", style: style %>
        </div>
      <% end %>
    <% else %>
      <div class="relative flex flex-wrap justify-center w-[100px] h-[100px]">
        <%= render "freestyle" %>
      </div>
    <% end %>
  </div>
    
  <div class="flex flex-wrap justify-center w-full px-40 mt-5 joband-text-bk">
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">創立時間：<%= @band.founded_at %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">地區：<%= @band.area %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">介紹：<%= @band.content %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">成員：</p>
    <div class="flex flex-wrap w-full my-5 ">
      <%= render @band_members %>
    </div>
    
    <span class="w-full joband-line-bk"></span>
    <div class="w-full my-5">
      <% if @band.music.attached? %>
        <audio controls controlsList="nodownload" class="w-full">
          <source src="<%= url_for(@band.music) %>" type="audio/mpeg">
          您的瀏覽器不支援音樂格式
        </audio>
      <% else %>
        <p class="w-full text-gray-400 h4">沒有上傳任何音樂檔案</p>
      <% end %>
    </div>
    <span class="w-full joband-line-bk"></span>
    <div class="w-full my-5">
      <% if @band.video.attached? %>
        <video width="640" height="360" controls controlsList="nodownload" class="w-full">
          <source src="<%= url_for(@band.video) %>" type="video/mp4">
          您的瀏覽器不支援影片格式
        </video>
      <% else %>
        <p class="w-full text-gray-400 h4">沒有上傳任何影片檔案</p>
      <% end %>
    </div>
    <div class="flex flex-wrap justify-center my-10">

      <% if current_user&.id === @band.band_members.find_by(identity: :leader).user_id %>
        <div class="w-full mb-10 align-middle">
          <div class="w-32 mx-auto text-center ">
            <%= link_to '編輯樂團', edit_band_path(@band), class:"joband-action-btn" %>
          </div>
        </div>
      <% else %>
        <% if @band.recruit.present? %>
          <% if user_signed_in? %>
            <% if current_user.confirmed? && current_user.profile.present?%>
              <%= link_to '招募中', recruit_path(@band.recruit), class: "z-[1] shadow-md joband-tag-seniority" %>
            <% else %>
              <%= link_to '招募中', letsjam_profiles_path, class: "z-[1] shadow-md joband-tag-seniority", alert: "請先完成個人資料！" %>
            <% end %>
          <% else %>
            <%= link_to "招募中", new_user_session_path, class: "z-[1] shadow-md joband-tag-seniority", alert: "請先登入！" %>
          <% end %>
        <% end %>
      <% end %>  
    </div>

  </div>
</div>
