<article id="band_show">

  <section class="mb-10">
    <div>
      <%= render "shared/banner", model: @band %>
    </div>
  </section>
  
  <section class="flex justify-center mb-5">
    <div class="flex justify-around items-center w-4/5">

      <div class="h-[200px] w-[200px] relative">
        <%= render "shared/avatar", model: @band %>
      </div>
      <h1 class="text-2xl"><%= @band.name %></h1>
      <p class="border-double border-2 border-sky-500 p-2 rounded-lg bg-sky-700 text-white"><%= @band.state %></p>

      <h2 class="h2">樂團招募</h2>
      <div>
        <% if @band.recruit.present?%>
          <%= link_to "團員招募中", recruit_path(@band.recruit), class: "btn btn-accent hover:text-white text-xl mb-5" %>
        <% else %>
          <%= link_to "招募團員", new_band_recruit_path(@band), class: "btn font-bold text-[#2A323A] hover:text-white text-xl mb-5" %>
        <% end %>
      </div>  
      
    </div>
  </section>
  
  <article class="flex flex-col justify-center items-center w-full bg-gray-200">
    
    <section class="flex justify-around w-9/12 mt-6 ">
      <div class="flex flex-col items-center justify-center">
        <p class="font-bold mb-2 text-lg" >曲風</p> 
        <%= render 'style', band: @band %>
      </div>

      <div class="flex flex-col items-center justify-center">
        <p class="font-bold mb-2 text-lg">創立時間</p>
        <%= @band.founded_at %>
      </div>

      <div class="flex flex-col items-center justify-center">
        <p class="font-bold mb-2 text-lg">地區</p>
        <%= @band.area %>
      </div>
      <div class="flex flex-col items-center justify-center">
        <p class="font-bold text-lg">成員</p><br>
        <%= render @band_members %>
      </div>
    </section>
    
    <section class="w-7/12  p-6">
        <p class= "text-justify">
          <%= @band.content %>
        </p>
    </section>

    <section class=" w-9/12  flex flex-col items-center">
      <div>
        <% if @band.music.attached? %>
          <audio controls controlsList="nodownload" class="mb-5">
            <source src="<%= url_for(@band.music) %>" type="audio/mpeg">
            您的瀏覽器不支援音樂格式
          </audio>
        <% end %>
      </div>

      <div>
        <% if @band.video.attached? %>
          <video width="640" height="360" controls controlsList="nodownload" class="mb-5">
            <source src="<%= url_for(@band.video) %>" type="video/mp4">
            您的瀏覽器不支援影片格式
          </video>
        <% end %>
      </div>
    </section>
    
  </article>

  <div class="flex justify-center my-5">
      <%= link_to '編輯', edit_band_path(@band), class:"btn btn-outline w-60" %>
  </div>

</article>
