<h2><%= t("user.forgot_password") %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder: "email@example.com", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit t("user.forgot_password_submit") %>
  </div>
<% end %>

<%= render "users/shared/links" %>
