<ul class="flex justify-between w-full list-none">
  <li>
    <div data-controller="like" data-action="click->like#toggle" data-liked="<%= current_user&.liked?(post) %>" data-id="<%= post.id %>" class="w-20 btn btn-ghost theme-text">
      <button data-like-target="likeBtn">♡
      </button>
      <span data-like-target="count" class="theme-text">
        <%= post.like_logs.count %>
      </span>
    </div>
  </li>
  <li>            
    <span class="btn btn-ghost" data-action="click->comments#toggleContent" data-link-id="<%= post.id %>">
      <a href="#" class="flex items-center theme-text">
        <%= File.read('app/assets/images/icon/comment.svg').html_safe %>
        <% if post.comments.any? %>
          <div class="ml-1 comment-count">
            <%= post.comments.count %>
          </div>
        <% end %>
      </a>
    </span>
  </li>
  <li>
    <% if policy(post).destroy? %>
      <%= button_to post_path(post), method: "delete", data: { turbo_confirm: t("show.delete") }, class: "btn btn-ghost" do %>
        <div class="flex items-center justify-center ">
          <%= File.read('app/assets/images/icon/del.svg').html_safe %>
        </div>
      <% end %>
    <% end %>
  </li>
</ul>
