<div class="w-full p-3 border-b" id="<%= dom_id(post) %>">
  <div class="flex space-x-3 justify-evenly">
    <div class="relative w-[50px] h-[50px] center">
      <%= render "shared/avatar", model: post.user.profile %>
    </div>
    <div class="justify-between w-10/12">
      <%= link_to post.user.name, profile_path(post.user), class: "hover:underline font-bold mr-2", data: {turbo: false} , target: "_top"%>
      <em class="inline-block pr-10 text-xs text-end joband-text-em"><%= post.created_at.strftime('%m/%d %H:%M') %></em>
      <div class="my-2 break-words"><p><%= post.body %></p></div>
      <%= render "posts/controls", post: post %>

      <div class="pl-2" data-comments-target="content" data-link-id="<%= post.id %>" style="display: none;">
        <%= form_with(model: [post, @comment], data: { turbo: false }) do |f| %>
          <div>
            <%= f.text_area :content, class: "joband-ring-offset rounded-xl input-bordered max-w-md w-full h-32 p-3" %>
          </div>
          <div class='mt-3 mb-2'>
            <%= f.submit t("show.send_comment"), class: 'joband-action-btn'%>
          </div>
        <% end %>
        <%= render "comments/comment_post", comments: post.comments, post: post %>
      </div>
    </div>
  </div>
</div>
