<div class="px-6 py-3 border-b" id="<%= dom_id(post) %>">
  <div class="flex items-start space-x-3">
    <div class="flex-shrink-0">
      <%= post_avatar(post.user.profile) %>
    </div>
    <div class="justify-between flex-auto">
      <%= link_to post.user.name, profile_path(post.user), class: "hover:underline font-bold", data: {turbo: false} %>
      <em class="inline-block pr-10 text-xs text-end"><%= post.created_at.strftime('%m/%d %H:%M') %></em>
    
      <%= link_to post, data: {turbo: false} do %>
        <div class="prose prose-lg"><%= post.body %></div>
      <% end %>

      <%= render "posts/controls", post: post %>

      <div class="pl-2" data-comments-target="content" data-link-id="<%= post.id %>" style="display: none;">
        <%= form_with(model: [post, @comment], data: { turbo: false }) do |f| %>
          <div>
            <%= f.text_area :content, class: "joband-ring-offset rounded-xl input-bordered max-w-md w-full h-32 p-3" %>
          </div>
          <div class='mb-2 mt-3'>
            <%= f.submit '送出留言', class: 'joband-tag-location text-sm'%>
          </div>
        <% end %>
        <%= render "comments/comment_post", comments: post.comments, post: post %>
      </div>
    </div>
  </div>
</div>
