<div class="grid h-screen grid-cols-1 mx-auto lg:grid-cols-12">
  <div class="pt-6 pr-6 lg:col-span-2">
    <div class="mt-6 ml-5 theme-text">
      <ul>
        <li>
          <%= link_to posts_path, class: "theme-text space-x-2 group flex items-center justify-center" do %>
            <div class="flex items-center justify-center w-full h-10 p-5 mb-5 rounded-lg hover:bg-sky-50">
              <%= image_tag "icon/home.svg" %><span class="ml-5 theme-text"><%= t("post.lobby") %></span>
            </div>
          <% end %>
        </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to profile_path(current_user), class: "theme-text space-x-2 group flex items-center justify-center" do %>
            <div class="flex items-center justify-center w-full h-10 p-5 mb-5 rounded-lg hover:bg-sky-50">
              <%= image_tag "icon/profile.svg" %><span class= "ml-4 theme-text" ><%= t("post.profile") %></span>
            </div>
          <% end %>
        </li>
        <% if current_user&.bands.present? %>
          <% current_user.bands.each do |band| %>
            <li>
              <%= link_to "#", class: "theme-text space-x-2 group flex items-center justify-center" do %>
                <div class="flex items-center justify-center w-full h-10 p-5 mb-5 rounded-lg hover:bg-sky-50">
                  <%= image_tag "icon/play.svg" %><span class= "ml-4 theme-text" ><%= band.name %></span>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <li>
          <%= link_to bands_path, class: "theme-text space-x-2 group flex items-center justify-center" do %>
            <div class="flex items-center justify-center w-full h-10 p-5 mb-5 rounded-lg hover:bg-sky-50">
              <%= image_tag "icon/plus.svg" %><span class= "ml-4 theme-text" ><%= t("post.add_band") %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
  <div class="lg:col-span-6 border-x theme-border">
    <!-- new -->
    <div class="mb-8">
      <%= render 'new', post: @post %>

    </div>
    <!-- show -->
    <%= turbo_frame_tag "post" do %>
      <% @posts.each do |post| %>
        <div class="px-4 border-2 border-b border-x-0">
          <header class="flex justify-between">
            <%= link_to post.user.name, "#", class: "text-blue-500 hover:underline" %>
            <em class="inline-block pr-10 text-xs"><%= post.created_at.strftime('%m/%d %H:%M') %></em>
          </header>
          <article class= "theme-text">
            <%= post.body %>
          </article>
          <footer class="flex justify-evenly">
            <!-- 按♥ -->
            <div class="btn btn-ghost">
                <div data-controller="like" 
                  data-liked="<%= current_user&.liked?(post) %>" 
                  data-id="<%= post.id %>">
                <div class="flex">
                  <button data-like-target="likeBtn" data-action="click->like#toggle"></button>
                  <span data-like-target="count" class="mx-2">
                  <%= post.like_logs.count %>
                  </span>
                </div>
              </div>
            </div>
            <!-- ♡ -->
            
            <div class="btn btn-ghost"><%= image_tag "icon/comment.svg" %></div>
            <% if policy(post).destroy? %>
              <%= link_to post_path(post.id), data: { turbo_method: "delete", turbo_confirm: "確定刪除嗎？" }, class: "btn btn-ghost" do %>
                <%= image_tag "icon/del.svg" %>
              <% end %>
            <% end %>
            
          </footer>
        </div>
      <% end %>
    <% end %>

    <%= turbo_frame_tag Post.new do %>
      <% if Post.all.none? %>
        <%= render "empty", post: @post %>
      <% end %>
    <% end %>
  </div>
  <div class="pt-6 pl-6 lg:col-span-3">
    <div class="w-full pt-6 mb-3 text-center rounded-lg theme-text h1 theme-bg">熱門活動</div>
    <div class="p-3 border-2 theme-bg rounded-xl">
      <h2 class="h2">FuJi Rock Festival 2023</h2>
      <p>Jul 28 - 30</p><span cleass="text-end">NAEBA SKI RESORT</span>
      <%= image_tag "fuji.jpg", class: "rounded-lg my-3" %>
    </div>
  </div>
</div>