<div class="grid grid-cols-1 mx-auto lg:grid-cols-12">
  <div class="pt-6 pr-6 lg:col-span-2">
    <div class="sticky mt-6 ml-5 top-20 theme-text">
      <ul>
        <li>
          <%= link_to posts_path, class: "theme-text space-x-2 group flex items-center justify-center" do %>
            <div class="flex items-center justify-center w-full h-10 p-5 mb-5 rounded-lg hover:bg-sky-50">
              <%= image_tag "icon/home.svg" %><span class="ml-5 theme-text"><%= t("post.lobby") %></span>
            </div>
          <% end %>
        </li>
      <% if user_signed_in? %>
        <% if current_user.profile.present?%>
          <li>
            <%= link_to profile_path(current_user.profile), class: "theme-text space-x-2 group flex items-center justify-center" do %>
              <div class="flex items-center justify-center w-full h-10 p-5 mb-5 rounded-lg hover:bg-sky-50">
                <%= image_tag "icon/profile.svg" %><span class= "ml-4 theme-text" ><%= t("post.profile") %></span>
              </div>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_profile_path, class: "theme-text space-x-2 group flex items-center justify-center" do %>
              <div class="flex items-center justify-center w-full h-10 p-5 mb-5 rounded-lg hover:bg-sky-50">
                <%= image_tag "icon/plus.svg" %><span class= "ml-4 theme-text" ><%= t("post.add_profile") %></span>
              </div>
            <% end %>
          </li>
        <% end %>
        <% if current_user&.bands.present? %>
          <% current_user.bands.each do |band| %>
            <li>
              <%= link_to "#", class: "theme-text space-x-2 group flex items-center justify-center" do %>
                <div class="flex items-center justify-center w-full h-10 p-5 mb-5 rounded-lg hover:bg-sky-50">
                  <%= image_tag "icon/play.svg" %><span class= "ml-4 theme-text" ><%= band.name %></span>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <li>
          <%= link_to bands_path, class: "theme-text space-x-2 group flex items-center justify-center" do %>
            <div class="flex items-center justify-center w-full h-10 p-5 mb-5 rounded-lg hover:bg-sky-50">
              <%= image_tag "icon/plus.svg" %><span class= "ml-4 theme-text" ><%= t("post.add_band") %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
  <div class="lg:col-span-6 border-x theme-border">
  
    <!-- new -->
    <div class="mb-8">
      <%= render 'new', post: @post %>
    </div>

    <!-- show -->
    <div data-controller="comments">
      <%= turbo_frame_tag "post" do %>
        <% @posts.each do |post| %>
          <div class="px-4 border-2 border-b border-x-0">
            <div class="flex justify-between">
              <%= link_to post.user.name, "#", class: "text-blue-500 hover:underline" %>
              <em class="inline-block pr-10 text-xs"><%= post.created_at.strftime('%m/%d %H:%M') %></em>
            </div>
            <article class= "theme-text">
              <%= post.body %>
            </article>
            <div class="flex justify-evenly">
              <!-- 按♥ -->
              <div class="btn btn-ghost">
                  <div data-controller="like" 
                    data-liked="<%= current_user.liked?(post) %>" 
                    data-id="<%= post.id %>">
                  <div class="flex">
                    <button data-like-target="likeBtn" data-action="click->like#toggle"></button>
                    <span data-like-target="count" class="mx-2">
                    <%= post.like_logs.count %>
                    </span>
                  </div>
                </div>
              </div>
              <!-- ♡ -->
              <div class="btn btn-ghost" data-action="click->comments#toggleContent" data-link-id="<%= post.id %>">
                <div >
                  <a href="#">
                    <%= image_tag "icon/comment.svg" %>
                  </a>
                </div>
              </div>
              <% if user_signed_in? %>
                <% if current_user.id == post.user.id %>
                  <%= link_to post_path(post.id), data: { turbo_method: "delete", turbo_confirm: "確定刪除嗎？" }, class: "btn btn-ghost" do %>
                    <%= image_tag "icon/del.svg" %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
           <div class="pl-2" data-comments-target="content" data-link-id="<%= post.id %>" style="display: none;">
              <%= form_with(model: [post, @comment], data: { turbo: false }) do |f| %>
                <div>
                  <%= f.text_area :content, class: "joband-ring-offset rounded-xl input-bordered max-w-md w-full h-32 p-3" %>
                </div>
                <div class='mb-2 mt-3'>
                  <%= f.submit '送出留言', class: 'joband-tag-location text-sm'%>
                </div>
              <% end %>
              <%= render "comments/comment_post", comments: post.comments, post: post %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= turbo_frame_tag Post.new do %>
      <% if Post.all.none? %>
        <%= render "empty", post: @post %>
      <% end %>
    <% end %>
  </div>
  <div class="pt-6 pl-6 lg:col-span-4">
    <div class="sticky top-20">
      <h2 class="w-full pt-6 mb-3 text-center rounded-lg theme-text h1 theme-bg">熱門活動</h2>
      <div class="p-3 border-2 theme-bg rounded-xl">
        <h2 class="h2">FuJi Rock Festival 2023</h2>
        <p>Jul 28 - 30</p><span cleass="text-end">NAEBA SKI RESORT</span>
        <%= image_tag "fuji.jpg", class: "rounded-lg my-3" %>
      </div>
    </div>
  </div>
</div>