<% title "樂手討論區" %>
<% description "加入我們的音樂社群，與同樣熱愛音樂的人分享您的音樂見解和故事。JoBand 為音樂愛好者和音樂人提供了一個溝通的平台，不論您是個人音樂家、樂隊成員還是音樂創作者，都歡迎您參與。這是您分享音樂的家，一個探索、連結、創造和參與討論的地方。一同探討音樂世界的點點滴滴，交流您的音樂心得與理念。" %>
<% keywords "樂團, 樂手, 組團, 尋找同好, band, 音樂, 鼓手, 吉他" %>
<% canonical "https://joband.co/communities/posts" %>
<%= display_meta_tags(default_meta_tags) %>

<div class="grid grid-cols-1 mx-auto lg:grid-cols-12">
  <div class="pt-6 pr-6 lg:col-span-2">
    <div class="sticky mt-6 ml-5 top-20 theme-text">
      <ul>
        <li>
          <%= link_to posts_path, class: "theme-text space-x-2 group flex items-center justify-center" do %>
            <div class="flex items-center justify-center w-full h-10 p-5 mb-5 rounded-lg hover:bg-sky-50">
              <%= File.read('app/assets/images/icon/home.svg').html_safe %>
              <h1 class="ml-5 theme-text"><%= t("post.lobby") %></h1>
            </div>
          <% end %>
        </li>
      <% if user_signed_in? %>
        <% if current_user&.bands.present? %>
          <% current_user.bands.each do |band| %>
            <li>
              <%= link_to channel_path(band.id), class: "theme-text space-x-2 group flex items-center justify-center" do %>
                <div class="flex items-center justify-center w-full h-10 p-5 mb-5 rounded-lg hover:bg-sky-50">
                  <%= File.read('app/assets/images/icon/play.svg').html_safe %>
                  <span class= "ml-4 theme-text" ><%= band.name %></span>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <li>
          <%= link_to bands_path, class: "theme-text space-x-2 group flex items-center justify-center" do %>
            <div class="flex items-center justify-center w-full h-10 p-5 mb-5 rounded-lg hover:bg-sky-50">
              <%= File.read('app/assets/images/icon/plus.svg').html_safe %>
              <span class= "ml-4 theme-text" ><%= t("post.add_band") %></span>
            </div>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
  <div class="lg:col-span-6 sm:mx-2 border-x theme-border ">

    <!-- new -->
    <div class="mb-8">
      <%= render 'new', post: @post %>
    </div>

    <!-- show -->
    <div class="w-full px-5" data-controller='comments'>
      <%= turbo_frame_tag "post", class: "w-full" do %>
        <% if Post.all.none? %>
          <%= render "empty", post: @post %>
        <% else %>
          <% @posts.each do |post| %>
            <%= render partial: "posts/posts", locals: { post: post } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="px-5 pt-6 lg:col-span-4">
    <div class="sticky top-20">
      <h2 class="w-full pt-6 mb-3 text-center rounded-lg theme-text h1 theme-bg"><%= t("show.pop_activities") %></h2>
      <% if @activity.present?%>
        <%= link_to activity_path(@activity.id), class: "theme-text space-x-2 group flex items-center justify-center" do %>
        <div class="p-3 border-2 theme-bg rounded-xl">
          <h2 class="font-bold h2 theme-text"><%= @activity.title %></h2>
          <p><%= @activity.begin_at %> 
          <p><%= @activity.time_start.strftime('%H:%M') %> ~ <%= @activity.time_end.strftime('%H:%M') %></p>
          <span class="text-end"><%= @activity.location %></span>
          <%= render "shared/banner", model: @activity  %>
        </div>
        <% end %>
      <% else %>
        <div class="p-3 border-2 theme-bg rounded-xl">
          <h2 class="font-bold h2 theme-text">FuJi Rock Festival 2023</h2>
          <p>Jul 28 - 30</p><span cleass="text-end">NAEBA SKI RESORT</span>
          <%= image_tag "fuji.jpg", class: "rounded-lg my-3" %>
        </div>
      <% end %>
    </div>
  </div>

</div>