<div>

        <div class="px-4 border-2 border-b border-x-0">
          <header class="flex justify-between">
            <%= link_to @post.user.name, "#", class: "text-blue-500 hover:underline" %>
            <em class="inline-block pr-10 text-xs"><%= @post.created_at.strftime('%m/%d %H:%M') %></em>
          </header>
          <article class= "theme-text">
            <%= @post.body %>
          </article>
          <footer class="flex justify-evenly">
            <!-- 按♥ -->
            <div class="btn btn-ghost">
                <div data-controller="like" 
                  data-liked="<%= current_user.liked?(@post) %>" 
                  data-id="<%= @post.id %>">
                <div class="flex">
                  <button data-like-target="likeBtn" data-action="click->like#toggle"></button>
                  <span data-like-target="count" class="mx-2">
                  <%= @post.like_logs.count %>
                  </span>
                </div>
              </div>
            </div>
            <!-- ♡ -->
            
            <div class="btn btn-ghost">
            <%= image_tag "icon/comment.svg" %>
            </div>
            <% if user_signed_in? %>
              <% if current_user.id == @post.user.id %>
                <%= link_to post_path(@post.id), data: { turbo_method: "delete", turbo_confirm: "確定刪除嗎？" }, class: "btn btn-ghost" do %>
                  <%= image_tag "icon/del.svg" %>
                <% end %>
              <% end %>
            <% end %>
          </footer>
        </div>
     


<div class="flex flex-wrap justify-center w-[80%] h-auto mx-auto rounded-[100px] mt-30 overflow-hidden joband-shadow bg-white m-5 p-10 text-center"> 
  <div class='w-full'>  
    <h2 class='h2 pb-6'>留言內容</h2>
    <%= form_with(model: [@post, @comment]) do |f| %>
      <div>
        <%= f.text_area :content, class: "joband-ring-offset rounded-xl input-bordered max-w-md w-full h-32 p-3" %>
      </div>
      <div class='mb-2 mt-3'>
        <%= f.submit '送出留言', class: 'joband-tag-location text-sm'%>
      </div>
    <% end %>
    <div class="m-5 text-center"><h2>留言</h2></div>
    <ul class='flex justify-center items-center flex-col'>
      <%= render "comments/comment_post", comments: @comments, posts: @posts %>
    </ul>
  </div>
  <%= link_to '', post_path(@post), class: "block w-full h-full absolute top-0 left-0" %>
