<article>

  <div>
    <h1><%= @recruit.recruit_title %></h1>
  </div>
     <p>需求樂器 instrument </p>
  <div>
    <% @recruit.instruments.each do |instrument| %>
      <%= instrument.name %>
    <% end %>
  </div>

  <div>
    <%= @recruit.condition %>
  </div>

  <div>
    <%= @recruit.practice_time %>
  </div>

  <div>
    <%= @recruit.area %>
  </div>

  <div>
    <%= link_to "返回招募列表", recruits_path %>
  </div>

  <div>
    <%= link_to "好想趕快加入" %>
  </div>

</article>