<div>
   <h1>
      <%= @recruit.recruit_title %>
   </h1>
</div>
   

<div>
   <%= @recruit.instrument %>
</div>

<div>
   <%= @recruit.condition %>
</div>

<div>
   <%= @recruit.practice_time %>
</div>

<div>
   <%= @recruit.area %>
</div>

<%= link_to '返回招募列表', recruits_path %>

<%= link_to '好想趕快加入'%>