<div class="flex justify-center gap-5">
  <article class="p-10 mt-10 border-2 rounded-md shadow-md w-fit theme-bg">
    <p class="my-5 text-center h1"><%= @recruit.band.name %></p>
    <h1 class="mb-5 text-[70px] font-bold text-center theme-text border-b-2">
      徵
    </h1>
    <h2 class="my-5 text-xl font-bold theme-text">
      <%= @recruit.title %>
    </h2>
    <div class="flex flex-col items-left">
      <p class="my-3 text-sm"><%= t("recruit.position")%> <br/>
        <span class="text-xl font-bold theme-text"><% @recruit.instruments.each do |instrument| %>
          <%= instrument.name %>
        <% end %></span>
      </p>

      <p class="my-3 text-sm"><%= t("recruit.require")%> <br/>
        <span class="text-xl font-bold theme-text"><%= @recruit.condition %></span>
      </p>

      <p class="my-3 text-sm"><%= t("recruit.p_time")%> <br/>
        <span class="text-xl font-bold theme-text"><%= @recruit.practice_time %></span>
      </p>

      <p class="my-3 text-sm"><%= t("show.area")%> <br/>
        <span class="text-xl font-bold theme-text"><%= @recruit.area %></span>
      </p>
      <% if policy(@recruit).update? %>
        <div class="flex justify-center mt-2">
          <%= link_to t("user.update"), edit_recruit_path(@recruit), class: "joband-recruit-btn mx-2" %>
          <%= link_to t("joband.delete"), recruit_path(@recruit), class: "joband-recruit-btn mx-2",
                            data: {
                              turbo_method: 'delete',
                              turbo_confirm: t("show.delete")
                            } %>
        </div>
      <% end %>
      <div class="flex flex-col mt-3">
        <% if current_user&.profile.present? %>
          <% if policy(@recruit).apply? %>
            <%= link_to t("recruit.band"),  new_recruit_resume_list_path(@recruit), class: "joband-recruit-btn text-center"%>
          <% end %>
        <% else %>
          <%= link_to t("recruit.band"), letsjam_profiles_path, class: "joband-recruit-btn text-center" %>
        <% end %>
        
        <%= link_to t("recruit.back"), band_path(@recruit.band), class: "joband-hover-gray mt-3 text-center" %>

      </div>    
    </div>
  </article>
  <article>
    
    <% @resume_lists.where(status: :pending).each do |list| %>
      <% if policy(@recruit).update? || list.user == current_user %>
        <div class="m-3">
          <%= link_to resume_list_path(list) do %>
            <div class="p-3 mt-10 text-xl font-bold text-black border-1 rounded-br-xl shadow-lg w-fit bg-[#FFA500]
                        lg:p-8">
              <p class="my-3 text-sm border-b">
                <%= t("recruit.apply") %> 
                <span class="text-xl">
                  <%= list.role %>
                </span>
              </p>
              <p>
                <%= list.user.name %><br/>
              </p>
              <p class="text-xs">
                <%= list.description.truncate(20) %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    
  </article>
</div>
