<article>

  <div>
    標題:<h1><%= @recruit.recruit_title %></h1>
  </div>
     <p>需求樂器</p>
  <div>
    <% @recruit.instruments.each do |instrument| %>
      <%= instrument.name %>
    <% end %>
  </div>

  <div>
    希望條件:<%= @recruit.condition %>
  </div>

  <div>
    練習時間:<%= @recruit.practice_time %>
  </div>

  <div>
    地區:<%= @recruit.area %>
  </div>

  <div>
    <%= link_to "返回招募列表", recruits_path %>
  </div>

  <div>
    <%= link_to "好想趕快加入" %>
  </div>

</article>