<div class="flex justify-center gap-5">
  <article class="p-10 mt-20 border-2 rounded-md shadow-md w-fit theme-bg">
    <h1 class="mb-5 text-[70px] font-bold text-center theme-text border-b-2">
      徵
    </h1>
    <h2 class="my-5 text-xl font-bold theme-text">
      <%= @recruit.title %>
    </h2>
    <div class="flex flex-col items-left">
      <p class="my-3 text-sm">徵求職位 : <br/>
        <span class="text-xl font-bold theme-text"><% @recruit.instruments.each do |instrument| %>
          <%= instrument.name %>
        <% end %></span>
      </p>

      <p class="my-3 text-sm">希望條件 :<br/>
        <span class="text-xl font-bold theme-text"><%= @recruit.condition %></span>
      </p>

      <p class="my-3 text-sm">練習時間 :<br/>
        <span class="text-xl font-bold theme-text"><%= @recruit.practice_time %></span>
      </p>

      <p class="my-3 text-sm">地區 :<br/>
        <span class="text-xl font-bold theme-text"><%= @recruit.area %></span>
      </p>
      <% if policy(@recruit).update? %>
        <div class="flex justify-center mt-2">
          <%= link_to '更新', edit_recruit_path(@recruit), class: "joband-recruit-btn mx-2" %>
          <%= link_to '刪除', recruit_path(@recruit), class: "joband-recruit-btn mx-2",
                            data: {
                              turbo_method: 'delete',
                              turbo_confirm: '確定刪除？'
                            } %>
        </div>
      <% end %>
      <div class="flex flex-col mt-3">
        <% if current_user&.profile.present? %>
          <% if policy(@recruit).apply? %>
            <%= link_to "申請加入樂團",  new_recruit_resume_list_path(@recruit), class: "joband-recruit-btn text-center"%>
          <% end %>
        <% else %>
          <%= link_to '申請加入樂團', letsjam_profiles_path, class: "joband-recruit-btn text-center" %>
        <% end %>
        
        <%= link_to "返回樂團", band_path(@recruit.band), class: "joband-hover-gray mt-3 text-center" %>

      </div>    
    </div>
  </article>
  <article>
    <% @resume_lists.where(status: :pending).each do |list| %>
      <div class="m-3">
        <%= link_to resume_list_path(list), action: 'go' do %>
          <div class="p-10 mt-20 text-xl font-bold text-black border-1 rounded-br-xl shadow-lg w-fit bg-[#FFA500]">
            <p class="my-3 text-sm border-b">
              應徵: 
              <span class="text-xl">
                <%= list.role %>
              </span>
            </p>
            <span>
              <%= link_to list.user.name %><br/>
              <%= list.description %>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
  </article>
</div>
