<div class="mx-auto lg:flex lg:flex-wrap lg:justify-evenly items-center w-[300px] h-auto lg:w-[1000px] lg:h-[300px] bg-[#D9D9D9] rounded-[60px] joband-shadow my-14 p-5 lg:p-0 ">
  <div class="mx-auto w-[150px] h-[150px] lg:w-[200px] lg:h-[200px] relative">
    <%= render "shared/activityBanner", model: activity %>
  </div>

  <div class="w-full lg:w-[450px] flex flex-wrap p-5">
    <p class="w-full font-semibold text-center lg:text-left joband-text-bk h2 joband-shadow"><%= activity.title %></p>
    <p class="w-full h-[70px] h3 mt-5 joband-text-bk hidden lg:block"><%= activity.content.truncate(70) %></p>
    <p class="w-full h-[70px] h3 mt-5 joband-text-bk text-center block lg:hidden"><%= activity.content.truncate(50) %></p>
    <div class="flex w-full mt-4 justify-evenly lg:justify-start">
      <p href="#" class=" z-[1] mr-5 shadow-md joband-tag-location">
        <%= activity.city %>
      </p>
      <p class="z-[1] shadow-md joband-tag-style">
        <%= activity.begin_at %> 
      </p>
    </div>
  </div>
  <div class="mx-auto relative rounded-full lg:w-[150px] lg:h-auto flex justify-center flex-wrap items-center">
    <div class="w-[150px] h-[150px] relative">
      <%= render "shared/avatar", model: activity.band %>
    </div>
    <div class="hidden mt-2 lg:block h3 joband-text-bk">
      <%= activity.band.name %>
    </div>
  </div>
  <%= link_to '', activity_path(activity), class: "block w-full h-full absolute" %>
</div>
