<%= form_with(model: (action_name.in?(['new', 'create']) ? [band, activity] : [activity]), data: { turbo: false }) do |f| %>
  <%= render "users/shared/error_messages", resource: activity %>
  
  <div class="flex items-center my-5">
    <% if activity.errors.any? %>
      <div class="w-full py-3 text-center rounded-2xl" style="border: 2px solid rgba(239, 68, 68, 0.8) ">
        <% activity.errors.full_messages.each do |message| %>
          <% if message == t("hint.time") %>
            <p class="text-xl text-red-500 fold-extrabold"><%= message %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="flex items-center my-5">
    <%= f.label t("show.enent_title"), class: "lg:w-[120px] block" %>
    <%= f.text_field :title, required: true, maxlength: 20, placeholder: t("hint.title"), class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
  </div>

  <div class="flex items-center my-5">
    <%= f.label :banner, t("show.upload_pic"), class: "lg:w-[120px] block" %>
    <div class="flex flex-wrap">
      <%= f.file_field :banner, accept: "image/png, image/jpeg", direct_upload: true, class: "file-input file-input-sm file-input-warning w-full max-w-xs" %>
      <em class="block text-xs joband-text-em"> <%= t("hint.format")%> </em>
    </div>
  </div>

  <div class="flex items-center my-5">
    <%= f.label t("show.content"), class: "lg:w-[120px] block" %>
    <%= f.text_area :content, required: true, style: "resize: none;", placeholder: t("hint.describe"), class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
  </div>

  <div class="flex items-center my-5">
    <%= f.label ("show.date"), class: "lg:w-[120px] block" %>
    <%= f.date_field :begin_at, required: true, value: Date.current.to_s, min: Date.current.to_s, class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
  </div>

  <div class="flex items-center my-5">
    <%= f.label ("show.start_at"), class: "lg:w-[120px] block" %>
    <%= f.time_field :time_start, required: true, value: "09:00", class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs", id: "time_start" %>
  </div>

  <div class="flex items-center my-5">
    <%= f.label ("show.end_at"), class: "lg:w-[120px] block" %>
    <%= f.time_field :time_end, required: true, value: "18:00", class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs", id: "time_end" %>
  </div>

  <div class="flex items-center my-5">
    <%= f.label :city, ("show.country"), class: "lg:w-[120px] block" %>
    <%= f.select :city, Activity.cities.keys %>
  </div>  
  
  <div class="flex items-center my-5">
    <%= f.label ("show.place"), class: "lg:w-[120px] block" %>
    <%= f.text_field :location, required: true, placeholder: t("hint.place"), class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
  </div>
  
  <div class="flex items-center justify-center w-full mt-10", data-controller="submited">
    <% if action_name == "new" %>
      <%= f.submit t("show.create_event"), class: "joband-action-btn", data: { action: "click->submited#disable", submited_target: "disable" } %>
    <% else %>
      <%= f.submit t("show.edit_event"), class: "joband-action-btn", data: { action: "click->submited#disable", submited_target: "disable" } %>
    <% end %>
  </div>

<%end%>
