 <%= form_with(model: (action_name.in?(['new', 'create']) ? [band, activity] : [activity]), data: { turbo: false }) do |f| %>

  <div class="flex items-center my-5">
    <%= f.label '活動標題', class: "lg:w-[120px] block" %>
    <%= f.text_field :title, required: true, maxlength: 20, placeholder: "請輸入20字以內的活動標題", class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
  </div>

  <div class="flex items-center my-5">
    <%= f.label :banner, '上傳照片', class: "lg:w-[120px] block" %>
    <%= f.file_field :banner, accept: "image/png, image/jpeg", direct_upload: true, class: "file-input file-input-sm file-input-warning w-full max-w-xs" %>
  </div>

  <div class="flex items-center my-5">
    <%= f.label '活動內容', class: "lg:w-[120px] block" %>
    <%= f.text_area :content, required: true, style: "resize: none;", placeholder: "跟大家介紹一下活動內容", class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
  </div>

  <div class="flex items-center my-5">
    <%= f.label '活動日期', class: "lg:w-[120px] block" %>
    <%= f.date_field :begin_at, required: true, class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
  </div>

  <div class="flex items-center my-5">
    <%= f.label '開始時間', class: "lg:w-[120px] block" %>
    <%= f.time_field :time_start, required: true, class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
  </div>

  <div class="flex items-center my-5">
    <%= f.label '結束時間', class: "lg:w-[120px] block" %>
    <%= f.time_field :time_end, required: true, class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
  </div>

  <div class="flex items-center my-5">
    <%= f.label :city, '活動縣市', class: "lg:w-[90px] block" %>
    <%= f.select :city, Activity.cities.keys %>
  </div>  
  
  <div class="flex items-center my-5">
    <%= f.label '活動地點', class: "lg:w-[120px] block" %>
    <%= f.text_field :location, required: true, class: "joband-ring-offset rounded-xl input-md input-bordered w-full max-w-xs" %>
  </div>

  <% if activity.errors.any? %>
    <div class="w-full py-3 text-center rounded-2xl bg-neutral-200">
        <% activity.errors.full_messages.each do |message| %>
          <% if message == '開始時間必須早於結束時間' %>
            <p class="text-xl text-red-500 fold-extrabold"><%= message %></p>
          <% end %>
        <% end %>
    </div>
  <% end %>
  
  <div class="flex items-center justify-center w-full mt-10">
    <% if action_name == "new" %>
      <%= f.submit "建立活動", class: "joband-action-btn" %>
    <% else %>
      <%= f.submit "更新活動", class: "joband-action-btn" %>
    <% end %>
  </div>

<%end%>
