<div class="flex flex-wrap justify-center p-10 lg:m-10">
  <h1 class="lg:text-4xl h2 theme-text"><%= t('joband.find_activities')%></h1>

  <div class="w-full">
    <%= search_form_for @search_activity, url: activities_activity_index_path do |f| %>
      <div class="flex items-center justify-center my-10">
        <div>
          <%= f.search_field :title_or_content_or_band_name_cont, class: 'p-3 mx-3 rounded-xl joband-ring-offset' %>
        </div>
        <button class="flex justify-center mx-2 w-14 h-14">
          <%= render "shared/search_btn" %>
        </button>
      </div>
    <% end %>
  </div>
</div>
<div class="flex flex-wrap justify-center w-full">
  <div class="my-10">
    <%= render @activities %>
  </div>    
</div>



