<div class="flex flex-wrap justify-center w-[80%] h-auto mx-auto rounded-[100px] mt-20 overflow-hidden joband-shadow bg-white pb-12"> 
  <section class="relative w-full h-[500px] overflow-hidden mb-3">
    <%= render "shared/banner", model: @activity  %>
  </section>

  <div class="flex flex-wrap justify-center w-full px-40 mt-5 joband-text-bk">
    <p class="my-5 h1"><%= @activity.title %></p>
    <span class="w-full joband-line-bk"></span>
      <div class="flex items-center w-full">
        <p class="block h3">主辦樂團：</p>
        <div class="mx-2 h-[50px] w-[50px] relative">
          <%= render "shared/avatar", model: @activity.band %>
        </div>
        <p class="block ml-2 mr-auto h3"><%= @activity.band.name %></p>
        <%= link_to "查看此樂團活動", band_activities_path(@band), class: "joband-hover-style-activity text-center w-[150px]" %>
      </div>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">內容：<%= @activity.content %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">日期：<%= @activity.begin_at %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">時間：<%= @activity.time_start.strftime('%H:%M') %> - <%= @activity.time_end.strftime('%H:%M') %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">縣市：<%= @activity.city %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">地點：<%= @activity.location %></p>
  </div>
  
  <div class="mx-auto mt-12 mb-5 text-center w-35">
    <% if policy(@activity).update? %>
      <div class="mb-6">
        <%= link_to '修改活動資料', edit_activity_path(@activity), class: "joband-action-btn mx-2" %>
        <%= link_to '刪除活動資料', activity_path(@activity), 
                              data: { turbo_method: 'delete', turbo_confirm: '確定要刪除嗎？' }, 
                              class: "joband-action-btn mx-2" %>
      </div>
    <% end %> 
    </div>

</div>
<div class="flex flex-wrap justify-center w-[80%] h-auto mx-auto rounded-[100px] mt-30 overflow-hidden joband-shadow bg-white m-5 p-10 text-center"> 
  <div class='w-full'>  
    <h2 class='my-10 h1'>留言內容</h2>
    <%= form_with(model: [@activity, @comment]) do |f| %>
      <div>
        <%= f.text_area :content, class: "joband-ring-offset rounded-xl input-bordered max-w-md w-full h-32 p-3" %>
      </div>
      <div class='mt-3 mb-2'>
        <%= f.submit '送出留言', class: 'joband-action-btn my-5'%>
      </div>
    <% end %>
    <ul class='flex flex-wrap items-center justify-center w-full'>
      <%= render "comments/comment_activity", comments: @comments, activities: @activities %>
    </ul>
  </div>
</div>
