<div class="flex flex-wrap justify-center w-[80%] h-auto mx-auto rounded-[100px] mt-20 overflow-hidden joband-shadow bg-white pb-12"> 
  <section class="relative w-full h-[500px] overflow-hidden mb-10">
    <%= render "shared/banner", model: @activity  %>
  </section>

  <div class="flex flex-wrap justify-center w-full px-40 mt-5 joband-text-bk">
    <p class="mb-12 h1"><%= @activity.title %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">主辦：<%= link_to @activity.band.name, band_path(@activity.band_id) %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">內容：<%= @activity.content %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">日期：<%= @activity.begin_at %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">時間：<%= @activity.time_start.strftime('%H:%M') %> - <%= @activity.time_end.strftime('%H:%M') %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">縣市：<%= @activity.city %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">地點：<%= @activity.location %></p>
  </div>
  
  <div class="w-35 mx-auto mt-12 mb-5 text-center">
    <% if policy(@activity).update? %>
      <div class="mb-6">
        <%= link_to '更新', edit_activity_path(@activity), class: "joband-tag-location" %>
        <%= link_to '刪除', activity_path(@activity), 
                              data: { turbo_method: 'delete', turbo_confirm: '確定要刪除嗎？' }, 
                              class: "joband-tag-seniority" %>
      </div>
    <% end %>
    <div>
      <%= link_to "返回樂團活動列表", band_activities_path(@band), class: "bg-[#2A323A] text-white rounded-md p-2" %>
    </div>
  </div>

</div>
<div class="flex flex-wrap justify-center w-[80%] h-auto mx-auto rounded-[100px] mt-30 overflow-hidden joband-shadow bg-white m-5 p-10 text-center"> 
  <div class='w-full'>  
    <h2 class='h2 pb-6'>留言內容</h2>
    <%= form_with(model: [@activity, @comment]) do |f| %>
      <div>
        <%= f.text_area :content, class: "joband-ring-offset rounded-xl input-bordered max-w-md w-full h-32 p-3" %>
      </div>
      <div class='mb-2 mt-3'>
        <%= f.submit '送出留言', class: 'joband-tag-location text-sm'%>
      </div>
    <% end %>
    <div class="m-5 text-center"><h2>留言</h2></div>
    <ul class='flex justify-center items-center flex-col'>
      <%= render "comments/comment_activity", comments: @comments, activities: @activities %>
    </ul>
  </div>
</div>
