<div class="flex flex-wrap justify-center w-[80%] h-auto mx-auto rounded-[100px] mt-20 overflow-hidden joband-shadow bg-white"> 
  <section class="relative w-full h-[500px] overflow-hidden mb-10">
    <%= render "shared/banner", model: @activity  %>
  </section>
  <div class="mx-auto w-[100px] h-[100px] bg-[#f3f3f2] joband-shadow shadow-inner rounded-full lg:w-[150px] lg:h-[150px] flex justify-center items-center">
    <p class="h2 joband-text-bk">BAND</p>
    <%#= render "shared/avatar", model: activity.band %>
    <%# 之後 render 所屬的 band avatar %>
  </div>
  <div class="flex flex-wrap justify-center w-full px-40 mt-5 joband-text-bk">
    <p class="mb-12 h1"><%= @activity.title %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">主辦：<%= link_to @activity.band.name, band_path(@activity.band_id) %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">內容：<%= @activity.content %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">日期：<%= @activity.begin_at %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">時間：<%= @activity.time_start.strftime('%H:%M') %> - <%= @activity.time_end.strftime('%H:%M') %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">縣市：<%= @activity.city %></p>
    <span class="w-full joband-line-bk"></span>
    <p class="w-full h3">地點：<%= @activity.location %></p>
  </div>
  
  <div class="w-32 mx-auto mt-12 text-center">
    <% if current_user&.id === @band.band_members.find_by(identity: :leader).user_id %>
      <div class="mb-6">
        <%= link_to '更新活動', edit_activity_path(@activity), class: "joband-tag-location" %>
      </div>
      <div class="mb-6">
        <%= link_to '刪除活動', activity_path(@activity), 
                              data: { turbo_method: 'delete', turbo_confirm: '確定要刪除嗎？' }, 
                              class: "joband-tag-seniority" %>
      </div>
    <% end %>  
    <div>
      <%= link_to "返回樂團活動列表", band_activities_path(@band), class: "joband-tag-location" %>
    </div>
    <div>
      <%= link_to "返回活動列表", band_activities_path(@band, @activities), class: "joband-tag-location" %>
    </div>
  </div>
</div>
