<!DOCTYPE html>
<html>
  <head>
    <title>Joband</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.1/dist/full.css" rel="stylesheet" type="text/css" />
    <%= javascript_importmap_tags %>
  </head>

  <body data-theme="dark">
    <%= render 'shared/flash' %>
    <%= render 'shared/navbar' %>
    <main class="container mx-auto">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
