<!DOCTYPE html>
<html>
  <head>
    <title>JoBand</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-theme="dark" data-controller="switch">
    <nav class="fixed top-0 z-10 w-full">
      <%= render 'shared/navbar' %>
    </nav>
    <%= render 'shared/flash' %>
    <main class="container flex-grow w-full py-16">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
