<!DOCTYPE html>
<html>
  <head>
    <title>Joband</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-theme="dark">
    <nav class="fixed top-0 z-10 w-full">
      <%= render 'shared/navbar' %>
    </nav>
    <%= render 'shared/flash' %>
    <main class="w-[90%] mx-auto mt-28 mb-20">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
