<!DOCTYPE html>
<html>
  <head>
    <title>Joband</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.1/dist/full.css" rel="stylesheet" type="text/css" />
    <!-- 引入 SweetAlert2 的 CSS 和 JavaScript 資源 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body data-theme="dark">
    <nav class="fixed top-0 z-10 w-full">
      <%= render 'shared/navbar' %>
    </nav>
    <div data-controller="flash">
      <p class="hidden"><%= flash[:notice] %><%= flash[:alert] %></p>
    </div>
    <main class="w-[90%] mx-auto mt-28 mb-20">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
