<% title "註冊會員" %>
<%= display_meta_tags(default_meta_tags) %>
<div class="min-h-screen my-20 rounded-lg theme-bg">
  <div class="left-0 right-0 block text-center top-20 lg:absolute theme-bg">
    <ul class="steps">
      <li class="step step-warning"><%= t("step.one") %></li>
      <li class="step"><%= t("step.two") %></li>
      <li class="step"><%= t("step.three") %></li>
      <li class="step"><%= t("step.four") %></li>
    </ul>
  </div>
  <div class="flex-col mx-auto my-5 theme-text theme-bg hero-content lg:flex-row-reverse">
    <div class="mx-20 text-center lg:text-left">
      <h1 class="font-bold text-7xl sm:text-left"><%= t("user.sign_up") %></h1>
      <div class="py-4 h3">
        <p class="mb-2 sm:text-left"><%= t("joband.info")%>
        </p>
        <p class="sm:text-left"><%= t("joband.description")%>
        </p>
      </div>
    </div>
    <div class="flex-shrink-0 w-full max-w-sm bg-white joband-shadow lg:card">
      <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="form-control">
          <label class="mt-3 mb-1 font-bold">
            <%= f.label :name, t("user.display_name"),class: "joband-text-bk" %>
          </label>
          <%= f.text_field :name, placeholder: "David Bowie", autofocus: true, autocomplete: :off, class: "text-white input input-bordered mb-2", required: true %>
          <em class="text-xs leading-3 joband-text-em"><%= t("user.display_describe") %></em>  
        </div>
        <div class="form-control">
          <label class="mt-5 mb-1 font-bold">
            <%= f.label :email, class: "joband-text-bk" %>
          </label>
          <%= f.email_field :email, placeholder: "email@example.com", autofocus: true, autocomplete: "email", class: "text-white input input-bordered", required: true %>
        </div>
        <div class="form-control">
          <label class="mt-5 mb-1 font-bold">
            <%= f.label :password, t("user.password"), class: "joband-text-bk" %>
          </label>
          <%= f.password_field :password, placeholder: t("user.min_password_placeholder") ,autocomplete: "new-password", class: "text-white input input-bordered", required: true %>
        </div>
        <div class="form-control">
          <label class="mt-5 mb-1 font-bold">
            <%= f.label :password_confirmation, t("user.password_confirmation"), class: "joband-text-bk" %>
          </label>
          <%= f.password_field :password_confirmation, placeholder: t("user.password_confirmation_placeholder"), autocomplete: "new-password", class: "text-white input input-bordered mb-3", required: true %>
        </div>
        <div class="my-5 form-control">
          <%= f.submit t("user.sign_up"), class: "joband-action-btn" %>
        </div>
      <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>